<div id="content-edit-flash-card">
    <form [formGroup]="cardForm">
        <input type="hidden" formControlName="id">
        <div class="form-group">
            <textarea htmlEditor formControlName="text" name="contentText" cols="20" rows="20"  onblur="getContentText($event)" required [(ngModel)]="card.text"></textarea>
        </div>

        <div class="form-group card-group">
            <label for="name">Upload File</label>
            <input type="file" (change)="onContentFileSelected($event)" placeholder="Upload File" accept=".png,.jpeg,.jpg">
            <div class="col-sm-3 image-container" *ngIf="card.img">
                <img  class="card-image" [src]="card.img"><br>
                <button class="btn btn-danger delete-button" (click)="deleteFileAttachment()">Delete</button>
            </div>
        </div>

        <button type="submit" class="btn btn-default" (click)="onCardFormSubmit()">Save</button>
    </form>
</div>