.header-logo img{
  width: 181px;
  padding: 12px 22px;
}
.top-header{background: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.menu .search{display: flex; align-content: center; flex-direction: row;justify-items: center;}
.menu .search span{ font-size:18px; margin: 12px 0; color:#666666; vertical-align: middle;}
.menu .search input{vertical-align: middle; border:none; outline:0; box-shadow:none;}
