
<!--Main Header-->
<header class="cd-main-header font">

    <div class="">
        <a routerLink="/dashboard/Overview" class="cd-logo">
            <img src="../assets/images/cd-logo.svg" alt="Characterly">
        </a>
    </div>

    <div class="cd-search is-hidden">
        <form action="#0">
            <input type="search" placeholder="Search...">
        </form>
    </div> <!-- cd-search -->

    <a href="javascript:void(0)" class="cd-nav-trigger"><span></span></a>

    <nav class="cd-nav">
        <ul class="cd-top-nav">
           <li class="notifications">
                <!-- <a href="#0">Notifications <span class="count">3</span></a> -->
                <a>Notifications <span class="count">{{notificationsCount}}</span></a>
            </li>
            <li class="has-children account">
                <a href="javascript:void(0)">
                    <img src="../assets/images/gridlock_19-80x60.jpg" alt="avatar">
                    {{userName}}
                </a>
                <ul>
                    <li>
                        <a href="javascript:void(0)">Settings</a>
                    </li>
                    <li>
                        <a routerLink="/logout">Logout</a>
                    </li>
                </ul>

                <!-- <div >
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{userName}}
                  </a>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="javascript:void(0)">Settings</a>
                    <a class="dropdown-item" routerLink="/logout">Logout</a>

                  </div>
                </div> -->
            </li>
        </ul>

    </nav>
</header> <!-- .cd-main-header -->






<!--
<header class="top-header">
  <div class="row-fulid clearfix">
    <div class="col-lg-2 col-md-2 header-logo">
      <a href="index.html"><img src="../assets/images/cd-logo.svg" alt="" /></a>
    </div>
    <div class="col-lg-10 col-md-10 no-padding">
      <div class="menu">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand visible-xs" href="#">Main Menu</a>
         </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <form class="navbar-form navbar-left no-padding" role="search">
             <div class="form-group search">
               <span class="glyphicon glyphicon-search"></span>
                <input type="text" class="form-control" placeholder="Search...">
             </div>
           </form>
           <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">Notification <small>4</small></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="../assets/images/gridlock_19-80x60.jpg" alt=""> {{userName}} <b class="caret"></b></a>
             <ul class="dropdown-menu">
               <li><a href="#">Setting</a></li>
               <li><a href="#">Logout</a></li>
             </ul>
            </li>
            <li class="visible-xs">
              <a routerLink="/Overview">Overview</a>
            </li>
            <li class="dropdown visible-xs">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Content <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a routerLink="/Contentmange">Manage Content</a></li>
                <li><a routerLink="/Contentcreate" >Create Content</a></li>
              </ul>
            </li>
            <li class="dropdown visible-xs">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Evaluation <b class="caret"></b></a>
             <ul class="dropdown-menu">
               <li><a routerLink="/ManageEvaluation">Manage Evaluations</a></li>
               <li><a routerLink="/CreateEvaluation">Create Evaluations</a></li>
             </ul>
            </li>
            <li class="visible-xs">
              <a routerLink="/Schedule" >Schedule</a>
            </li>
            <li class="dropdown visible-xs">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Branches <b class="caret"></b></a>
              <ul class="dropdown-menu">
               <li><a routerLink="/ManageBranch">Manage Branches</a></li>
               <li><a routerLink="/CreateBranch">Create Branches</a></li>
             </ul>
            </li>
            <li class="dropdown visible-xs">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Users <b class="caret"></b></a>
             <ul class="dropdown-menu">
               <li><a routerLink="/ManageUser">Manage Users</a></li>
               <li><a routerLink="/CreateUsser">Create Users</a></li>
             </ul>
            </li>
            <li class="visible-xs">
             <a routerLink="/UserRoles">User Roles</a>
            </li>
          </ul>
        </div>
        </nav>
      </div>
    </div>
  </div>
</header> -->
