<form class="content-wrapper board-overview" (ngSubmit)="CreateBranch(f);" #f="ngForm">
	<div class="board-overview-column-1">
		<!-- Title-->
		<div class="cd-page-header">
			<h3 *ngIf="isEdit==false">Create Branch</h3>
			<h3 *ngIf="isEdit==true">Edit Branch</h3>
		</div>
		<div class="board-cards">
			<div class="spacer15"></div>
			<div *ngIf="successMessage" class="row-fluid clearfix alert alert-success margin-bottom-20">
				<strong>Success!</strong> {{successMessage}}
			  </div>
			  <div *ngIf="error" class="row-fluid clearfix alert alert-danger margin-bottom-20">
				<strong>Error!</strong> {{error}}.
			  </div>

			<ul class="qa-top-bar">
				<li>
					A branch will allow a certain group to receive only selected content filter Character.ly global database, Filtered by pillars,
					grades, and types.
				</li>
			</ul>

			<!-- <div class="branch-id" *ngIf="isEdit==true">
				Branch ID:
				<b>{{id}}</b>
			</div> -->

			<!--District Name-->
			<div class="form-group">
				<label>Branch Name</label>
				<input class="wide" type="text" name="branchname" #branchname="ngModel" [(ngModel)]="name" placeholder="name" required/>

				<div *ngIf="branchname.invalid && (branchname.dirty || branchname.touched) || (branchname.invalid && submitted)"
				class="alert alert-danger">
				<div *ngIf="(submitted || branchname.touched) && branchname.errors.required">
				  Branch Name is required.
				</div>
			  </div>
			</div>

			<hr>

			<!--Country-->
			<div class="form-group">
				<label>Country</label>
				<select id="country" placeholder="Country" class="dropdown" [(ngModel)]="selectedCountry" name="countryName" #countryName="ngModel" required>
					<option *ngFor="let country of countryList" [value]="country.id">{{country.Name}}</option>
				</select>
				<div *ngIf="countryName.invalid && (countryName.dirty || countryName.touched) || (countryName.invalid && submitted)"
				class="alert alert-danger">
				<div *ngIf="(submitted || countryName.touched) && countryName.errors.required">
				  Country is required.
				</div>
			  </div>
			</div>

			<div class="spacer15"></div>

			<!--State-->
			<!-- <div class="form-group">
				<label>State</label>
				<input class="wide" type="text" />
			</div> -->

			<div class="spacer15"></div>

			<!--Region-->
			<div class="form-group">
				<label>Region</label>
				<input class="wide" type="text" name="regionName" #regionName="ngModel" [(ngModel)]="region" placeholder="region" required/>
				<div *ngIf="regionName.invalid && (regionName.dirty || regionName.touched) || (regionName.invalid && submitted)"
				class="alert alert-danger">
				<div *ngIf="(submitted || regionName.touched ) && regionName.errors.required">
				  Region is required.
				</div>
			  </div>
			</div>

			<hr>

			<!--Number of Schools-->
			<div class="form-group">
				<label>Number of Schools</label>
				<input class="smallfield" type="number" name="numberSchools" #numberSchools="ngModel" [(ngModel)]="numberOfSchools" placeholder="number Of Schools"
				 required/>

				 <div *ngIf="numberSchools.invalid && (numberSchools.dirty || numberSchools.touched) || (numberSchools.invalid && submitted)"
				 class="alert alert-danger">
				 <div *ngIf="(submitted || numberSchools.touched) && numberSchools.errors.required">
				   Number of Schools is required.
				 </div>
			   </div>
			</div>

			<!--Number of Students-->
			<div class="inline">
				<div class="form-group">
					<label>Number of Students</label>
					<input class="smallfield" type="number" [(ngModel)]="numberOfStudents" #numberStudents="ngModel" name="numberOfStudents" placeholder="Number of Students"
						required />
					<div *ngIf="numberStudents.invalid && (numberStudents.dirty || numberStudents.touched) || (numberStudents.invalid && submitted)"
					class="alert alert-danger">
					<div *ngIf="(submitted || numberStudents.touched) && numberStudents.errors.required">
					  Number of Students is required.
					</div>
				  </div>
				</div>

				<div class="form-group">
					<label>Number of Educators</label>
					<input class="smallfield" type="number" name="numberEducators" #numberEducators="ngModel" [(ngModel)]="numberOfEducators" placeholder="number Of Educators"
					 required/>
					 <div *ngIf="numberEducators.invalid && (numberEducators.dirty || numberEducators.touched) || (numberEducators.invalid && submitted)"
					 class="alert alert-danger">
					 <div *ngIf="(submitted || numberEducators.touched) && numberEducators.errors.required">
					   Number of Educators is required.
					 </div>
				   </div>
				</div>

				<div class="form-group">
					<label>Number of Parents</label>
					<input class="smallfield" type="number" name="numberParents" #numberParents="ngModel" [(ngModel)]="numberOfParents" placeholder="number Of Parents"
					 required/>

					 <div *ngIf="numberParents.invalid && (numberParents.dirty || numberParents.touched) || (numberParents.invalid && submitted)"
					 class="alert alert-danger">
					 <div *ngIf="(submitted || numberParents.touched) && numberParents.errors.required">
					   Number of Parents is required.
					 </div>
				   </div>
				</div>
			</div>
		</div>

		<div class="board-cards">
			<h5>Contact Information</h5>
			<div class="spacer15"></div>

			<!--Contact Name-->
			<div class="form-group">
				<label>Primary Contact Name</label>
				<input class="wide" type="text" name="primaryContact" #primaryContact="ngModel" [(ngModel)]="primaryContactName" placeholder="primary Contact Name"
				 required/>

				 <div *ngIf="primaryContact.invalid && (primaryContact.dirty || primaryContact.touched) || (primaryContact.invalid && submitted)"
				 class="alert alert-danger">
				 <div *ngIf="(submitted || primaryContact.touched) && primaryContact.errors.required">
				   Contact Name is required.
				 </div>
			   </div>
			</div>

			<!--Email-->
			<div class="form-group">
				<label>Email</label>
				<input class="wide" type="email" name="contactEmail" #contactEmail="ngModel" [(ngModel)]="primaryContactEmail" placeholder="primary Contact Email"
				 required/>

				 <div *ngIf="contactEmail.invalid && (contactEmail.dirty || contactEmail.touched) || (contactEmail.invalid && submitted)"
				 class="alert alert-danger">
				 <div *ngIf="(submitted || contactEmail.touched) && contactEmail.errors.required">
				   Email is required.
				 </div>
			   </div>
			</div>

			<!--Phone-->
			<div class="form-group">
				<label>Phone</label>
				<input class="midfield" type="text" name="primaryPhone" #primaryPhone="ngModel" [(ngModel)]="primaryContactPhoneNumber" placeholder="primary Contact PhoneNumber"
				maxlength="15" required />

				 <div *ngIf="primaryPhone.invalid && (primaryPhone.dirty || primaryPhone.touched) || (primaryPhone.invalid && submitted)"
				 class="alert alert-danger">
				 <div *ngIf="(submitted || primaryPhone.touched) && primaryPhone.errors.required">
				   Phone Number is required.
				 </div>
			   </div>
			   <div *ngIf="primaryPhone.errors?.maxlength">
				Phone Number should not be more then 15 characters.
			  </div>
			</div>
		</div>

		<!-- <div class="board-cards">
		
			<div class="form-group">
				<label>Add tags</label>
				<div id="branch-tags" class="input textarea clearfix"></div>
				<span>Press enter or , to add a tag. Press backspace to edit previous tag.</span>
			</div>
		</div> -->

		<div class="board-cards">
			<!-- Multi Select-->
			<!-- <h6>Domains</h6> -->
			<!-- <select id="content-multiselect" multiple="multiple" ngModel name="domains" required> -->
			<!-- <select id="content-multiselect" multiple="multiple" ngModel name="domains" required>
		
		
				  <option *ngFor="let item of AllDomainsWithCheckBoxes" [value]="item.value" data-section="item.name" [selected]="item.checked" data-index="1" data-key="1">{{item.name}}</option> -->

			<!-- use/edit the following to fill data  -->
			<!-- <option *ngFor="let item of AllDomainsWithCheckBoxes" [value]="item.value" data-section="Academic Domain/A1. Motivated and Committed learners">{{item.name}}</option> -->

			<!-- <option value="one" data-section="Academic Domain/A1. Motivated and Committed learners" data-index="1" data-key="1">A1.1 Curiosity</option>
		
				<option value="one" data-section="Academic Domain/A1. Motivated and Committed learners" data-index="1" data-key="1">A1.2 Personal Growth and Lifelong Learning</option> -->

			<!-- A2-->

			<!-- <option value="one" data-section="Academic Domain/A2. Confident and Diligent Learners" data-index="1" data-key="1">A2.1 Growth Mindset</option>
		
				<option value="one" data-section="Academic Domain/A2. Confident and Diligent Learners" data-index="1" data-key="1">A2.2 Learning From Mistakes</option> -->

			<!-- A3-->

			<!-- <option value="one" data-section="Academic Domain/A3. Responsible, Engaged, Autonomous, and Connected Learners" data-index="1" data-key="1">A3.1 Dedication to Education</option>
		
				<option value="one" data-section="Academic Domain/A3. Responsible, Engaged, Autonomous, and Connected Learners" data-index="1" data-key="1">A3.2 Full Engagement in Learning Process</option>
		
				<option value="one" data-section="Academic Domain/A3. Responsible, Engaged, Autonomous, and Connected Learners" data-index="1" data-key="1">A3.3 Self-Directed Learners</option>
		
				<option value="one" data-section="Academic Domain/A3. Responsible, Engaged, Autonomous, and Connected Learners" data-index="1" data-key="1">A3.4 Resourceful, Discerning Researchers</option>
		
				<option value="one" data-section="Academic Domain/A3. Responsible, Engaged, Autonomous, and Connected Learners" data-index="1" data-key="1">A3.5. Versatile Learners</option>
		
				<option value="one" data-section="Academic Domain/A3. Responsible, Engaged, Autonomous, and Connected Learners" data-index="1" data-key="1">A3.6. Connection to School Community</option> -->

			<!-- A4-->

			<!-- <option value="one" data-section="Academic Domain/A4. Knowledgeable, Logical,Critical and Creative Thinkers" data-index="1" data-key="1">A4.1 Acquire, Remember Knowledge</option>
		
				<option value="one" data-section="Academic Domain/A4. Knowledgeable, Logical,Critical and Creative Thinkers" data-index="1" data-key="1">A4.2 Understand Knowledge</option>
		
				<option value="one" data-section="Academic Domain/A4. Knowledgeable, Logical,Critical and Creative Thinkers" data-index="1" data-key="1">A4.3 Apply Knowledge</option>
		
				<option value="one" data-section="Academic Domain/A4. Knowledgeable, Logical,Critical and Creative Thinkers" data-index="1" data-key="1">A4.4 Analyze, Evaluate (Critical Thinking)</option>
		
				<option value="one" data-section="Academic Domain/A4. Knowledgeable, Logical,Critical and Creative Thinkers" data-index="1" data-key="1">A4.5 Create, Innovate (Synthesis)</option>
		
				<option value="one" data-section="Academic Domain/A4. Knowledgeable, Logical,Critical and Creative Thinkers" data-index="1" data-key="1">A4.6 Concentrate</option>
		
				<option value="one" data-section="Academic Domain/A4. Knowledgeable, Logical,Critical and Creative Thinkers" data-index="1" data-key="1">A4.7 Perceptive, Observant</option>
		
				<option value="one" data-section="Academic Domain/A4. Knowledgeable, Logical,Critical and Creative Thinkers" data-index="1" data-key="1">A4.8 Openness</option>
		
				<option value="one" data-section="Academic Domain/A4. Knowledgeable, Logical,Critical and Creative Thinkers" data-index="1" data-key="1">A4.9 Intellectual Integrity</option>
		
				<option value="one" data-section="Academic Domain/A4. Knowledgeable, Logical,Critical and Creative Thinkers" data-index="1" data-key="1">A4.10 Intellectual Independence</option>
		
				<option value="one" data-section="Academic Domain/A4. Knowledgeable, Logical,Critical and Creative Thinkers" data-index="1" data-key="1">A4.11 Intellectual Humility</option>
		
				<option value="one" data-section="Academic Domain/A4. Knowledgeable, Logical,Critical and Creative Thinkers" data-index="1" data-key="1">A4.12 Pursuit of Wisdom</option> -->

			<!-- A5-->

			<!-- <option value="one" data-section="Academic Domain/A5. Effective Problem Solvers and Decision Makers" data-index="1" data-key="1">A5.1 Rational Decision Making</option>
		
				<option value="one" data-section="Academic Domain/A5. Effective Problem Solvers and Decision Makers" data-index="1" data-key="1">A5.2 Ethical Decision Making</option>
		
				<option value="one" data-section="Academic Domain/A5. Effective Problem Solvers and Decision Makers" data-index="1" data-key="1">A5.3 Effective Decision Making</option>
		
				<option value="one" data-section="Academic Domain/A5. Effective Problem Solvers and Decision Makers" data-index="1" data-key="1">A5.4 Best Possible Result</option> -->

			<!-- Social Emorional -->

			<!-- SE1-->

			<!-- <option value="two" data-section="Social Emotional Domain/SE1. Self-Awareness" data-index="1" data-key="1">SE1.1 Emotions and Their Impact</option>
		
				<option value="two" data-section="Social Emotional Domain/SE1. Self-Awareness" data-index="1" data-key="1">SE1.2 Traits and Attributes</option>
		
				<option value="two" data-section="Social Emotional Domain/SE1. Self-Awareness" data-index="1" data-key="1">SE1.3 Values, Beliefs, Attitudes, Mindsets</option>
		
				<option value="two" data-section="Social Emotional Domain/SE1. Self-Awareness" data-index="1" data-key="1">SE1.4 Self-Acceptance</option>
		
				<option value="two" data-section="Social Emotional Domain/SE1. Self-Awareness" data-index="1" data-key="1">SE1.5 Concept of Happiness and Success</option>
		
				<option value="two" data-section="Social Emotional Domain/SE1. Self-Awareness" data-index="1" data-key="1">SE1.6 Capacity to Be a Change Agent</option> -->

			<!-- SE2-->

			<!-- <option value="two" data-section="Social Emotional Domain/SE2. Self-Management" data-index="1" data-key="1">SE2.1 Expressing Emotions</option>
		
				<option value="two" data-section="Social Emotional Domain/SE2. Self-Management" data-index="1" data-key="1">SE2.2 Self-Discipline</option>
		
				<option value="two" data-section="Social Emotional Domain/SE2. Self-Management" data-index="1" data-key="1">SE2.3 Managing Stress, Anxiety, Depression, and Other Negative Emotions</option>
		
				<option value="two" data-section="Social Emotional Domain/SE2. Self-Management" data-index="1" data-key="1">SE2.4 Resilience and Courage</option>
		
				<option value="two" data-section="Social Emotional Domain/SE2. Self-Management" data-index="1" data-key="1">SE2.5 Flexibility</option>
		
				<option value="two" data-section="Social Emotional Domain/SE2. Self-Management" data-index="1" data-key="1">SE2.6 Patience and Poise</option>
		
				<option value="two" data-section="Social Emotional Domain/SE2. Self-Management" data-index="1" data-key="1">SE2.7 Self-Improvement</option>
		
				<option value="two" data-section="Social Emotional Domain/SE2. Self-Management" data-index="1" data-key="1">SE2.8 Setting Goals</option>
		
				<option value="two" data-section="Social Emotional Domain/SE2. Self-Management" data-index="1" data-key="1">SE2.9 Planning</option>
		
				<option value="two" data-section="Social Emotional Domain/SE2. Self-Management" data-index="1" data-key="1">SE2.10 Managing Time</option>
		
				<option value="two" data-section="Social Emotional Domain/SE2. Self-Management" data-index="1" data-key="1">SE2.11 Organization</option> -->

			<!-- SE3-->

			<!-- <option value="two" data-section="Social Emotional Domain/SE3. Social Awareness and Relationship Skills and Traits" data-index="1" data-key="1">SE3.1 Social Awareness</option>
		
				<option value="two" data-section="Social Emotional Domain/SE3. Social Awareness and Relationship Skills and Traits" data-index="1" data-key="1">SE3.2 Empathy</option>
		
				<option value="two" data-section="Social Emotional Domain/SE3. Social Awareness and Relationship Skills and Traits" data-index="1" data-key="1">SE3.3 Remorse</option>
		
				<option value="two" data-section="Social Emotional Domain/SE3. Social Awareness and Relationship Skills and Traits" data-index="1" data-key="1">SE3.4 Positive Relationships</option>
		
				<option value="two" data-section="Social Emotional Domain/SE3. Social Awareness and Relationship Skills and Traits" data-index="1" data-key="1">SE3.5 Effective Communication</option>
		
				<option value="two" data-section="Social Emotional Domain/SE3. Social Awareness and Relationship Skills and Traits" data-index="1" data-key="1">SE3.6 Leadership</option>
		
				<option value="two" data-section="Social Emotional Domain/SE3. Social Awareness and Relationship Skills and Traits" data-index="1" data-key="1">SE3.7 Collaboration and Teamwork</option>
		
				<option value="two" data-section="Social Emotional Domain/SE3. Social Awareness and Relationship Skills and Traits" data-index="1" data-key="1">SE3.8 Conflict Management</option> -->

			<!-- SE4-->

			<!-- <option value="two" data-section="Social Emotional Domain/SE4. Success Skills and Attitudes" data-index="1" data-key="1">SE4.1 Executive Function</option>
		
				<option value="two" data-section="Social Emotional Domain/SE4. Success Skills and Attitudes" data-index="1" data-key="1">SE4.2 Commitment to Excellence</option>
		
				<option value="two" data-section="Social Emotional Domain/SE4. Success Skills and Attitudes" data-index="1" data-key="1">SE4.3 Conscientiousness</option>
		
				<option value="two" data-section="Social Emotional Domain/SE4. Success Skills and Attitudes" data-index="1" data-key="1">SE4.4 Perseverance</option>
		
				<option value="two" data-section="Social Emotional Domain/SE4. Success Skills and Attitudes" data-index="1" data-key="1">SE4.5 Self-Confidence</option>
		
				<option value="two" data-section="Social Emotional Domain/SE4. Success Skills and Attitudes" data-index="1" data-key="1">SE4.6 Self-Motivation and Action</option>
		
				<option value="two" data-section="Social Emotional Domain/SE4. Success Skills and Attitudes" data-index="1" data-key="1">SE4.7 Positivity</option>
		
				<option value="two" data-section="Social Emotional Domain/SE4. Success Skills and Attitudes" data-index="1" data-key="1">SE4.8 Gratitude</option>
		
				<option value="two" data-section="Social Emotional Domain/SE4. Success Skills and Attitudes" data-index="1" data-key="1">SE4.9 Forgiveness</option>
		
				<option value="two" data-section="Social Emotional Domain/SE4. Success Skills and Attitudes" data-index="1" data-key="1">SE4.10 Technological Literacy</option>
		
				<option value="two" data-section="Social Emotional Domain/SE4. Success Skills and Attitudes" data-index="1" data-key="1">SE4.11 Financial Literacy</option> -->

			<!-- CHARACTER DOMAIN-->
			<!-- C1-->

			<!-- <option value="two" data-section="Character Domain/C1. Commitment to Character and Ethics" data-index="1" data-key="1">C1.1 Good Character - Components</option>
		
				<option value="two" data-section="Character Domain/C1. Commitment to Character and Ethics" data-index="1" data-key="1">C1.2 Importance of Character</option>
		
				<option value="two" data-section="Character Domain/C1. Commitment to Character and Ethics" data-index="1" data-key="1">C1.3 Responsibility for Character</option>
		
				<option value="two" data-section="Character Domain/C1. Commitment to Character and Ethics" data-index="1" data-key="1">C1.4 The Six Pillars of Character</option>
		
				<option value="two" data-section="Character Domain/C1. Commitment to Character and Ethics" data-index="1" data-key="1">C1.5 Ethical Concepts and Terms</option>
		
				<option value="two" data-section="Character Domain/C2. Trustworthiness" data-index="1" data-key="1">C2.1 Integrity</option>
		
				<option value="two" data-section="Character Domain/C2. Trustworthiness" data-index="1" data-key="1">C2.2 Honest Communications</option>
		
				<option value="two" data-section="Character Domain/C2. Trustworthiness" data-index="1" data-key="1">C2.3 Honest Actions</option>
		
				<option value="two" data-section="Character Domain/C2. Trustworthiness" data-index="1" data-key="1">C2.4 Belief That Honesty Pays</option>
		
				<option value="two" data-section="Character Domain/C2. Trustworthiness" data-index="1" data-key="1">C2.5 Promise-Keeping & Reliability</option>
		
				<option value="two" data-section="Character Domain/C2. Trustworthiness" data-index="1" data-key="1">C2.6 Loyalty</option>
		
				<option value="two" data-section="Character Domain/C3. Respect" data-index="1" data-key="1">C3.1 Treating Others With Respect</option>
		
				<option value="two" data-section="Character Domain/C3. Respect" data-index="1" data-key="1">C3.2 The Golden Rule</option>
		
				<option value="two" data-section="Character Domain/C3. Respect" data-index="1" data-key="1">C3.3 The Basics of Respect</option>
		
				<option value="two" data-section="Character Domain/C3. Respect" data-index="1" data-key="1">C3.4 School Climate</option>
		
				<option value="two" data-section="Character Domain/C3. Respect" data-index="1" data-key="1">C3.5 Respecting Privacy</option>
		
				<option value="two" data-section="Character Domain/C3. Respect" data-index="1" data-key="1">C3.6 Respecting Others’ Autonomy</option>
		
				<option value="two" data-section="Character Domain/C4. Responsibility" data-index="1" data-key="1">C4.1 Compliance: Doing What Is Required</option>
		
				<option value="two" data-section="Character Domain/C4. Responsibility" data-index="1" data-key="1">C4.2 Ethics: Doing What Should Be Done</option>
		
				<option value="two" data-section="Character Domain/C4. Responsibility" data-index="1" data-key="1">C4.3 Consequences for Their Words</option>
		
				<option value="two" data-section="Character Domain/C4. Responsibility" data-index="1" data-key="1">C4.4 Consequences for Actions</option>
		
				<option value="two" data-section="Character Domain/C4. Responsibility" data-index="1" data-key="1">C4.5 Developing and Using Positive Attitudes and Life Skills</option>
		
				<option value="two" data-section="Character Domain/C4. Responsibility" data-index="1" data-key="1">C4.6 Self-Reliance and Prudent Money Management</option>
		
				<option value="two" data-section="Character Domain/C4. Responsibility" data-index="1" data-key="1">C4.7 Learning From Experience</option>
		
				<option value="two" data-section="Character Domain/C4. Responsibility" data-index="1" data-key="1">C4.8 Being Rational and Reflective</option>
		
				<option value="two" data-section="Character Domain/C4. Responsibility" data-index="1" data-key="1">C4.9 Healthy Choices</option>
		
				<option value="two" data-section="Character Domain/C5. Fairness" data-index="1" data-key="1">C5.1 The Basics of Fairness</option>
		
				<option value="two" data-section="Character Domain/C5. Fairness" data-index="1" data-key="1">C5.2 Making Fair Decisions</option>
		
				<option value="two" data-section="Character Domain/C5. Fairness" data-index="1" data-key="1">C5.3 Proportionality</option>
		
				<option value="two" data-section="Character Domain/C5. Fairness" data-index="1" data-key="1">C5.4 Complexity of Fairness</option>
		
				<option value="two" data-section="Character Domain/C6. Caring" data-index="1" data-key="1">C6.1 The Basics of Caring</option>
		
				<option value="two" data-section="Character Domain/C6. Caring" data-index="1" data-key="1">C6.2 Caring & Other Ethical Duties</option>
		
				<option value="two" data-section="Character Domain/C7. Good Citizenship" data-index="1" data-key="1">C7.1 Civil Rights</option>
		
				<option value="two" data-section="Character Domain/C7. Good Citizenship" data-index="1" data-key="1">C7.2 Civil Responsibilities</option>
		
				<option value="two" data-section="Character Domain/C7. Good Citizenship" data-index="1" data-key="1">C7.3 Respect for Authority & Law</option>
		
				<option value="two" data-section="Character Domain/C7. Good Citizenship" data-index="1" data-key="1">C7.4 Participation in Democratic Process</option>
		
				<option value="two" data-section="Character Domain/C7. Good Citizenship" data-index="1" data-key="1">C7.5 Improving School Climate</option>
		
				<option value="two" data-section="Character Domain/C7. Good Citizenship" data-index="1" data-key="1">C7.6 Environmental Protection</option> -->

			<!-- </select> -->

		</div>


		<div class="board-cards">
			<ul class="inline">
				<!-- <li *ngIf="isEdit==true">
					Branch ID:
					<b>{{id}}</b>
				</li> -->

				<li>
					<a routerLink="/dashboard/UserCreate" class="btn-secundary">Add School Managers</a>
				</li>

				<!-- <li>
					<a href="#" class="btn-secundary">Share ID Code</a>
				</li>

				<li>
					<a href="#" class="btn-secundary">Print ID Code Instructions</a>
				</li> -->
			</ul>
		</div>
	</div>
	<!--Ends .board-overview-column-1-->

	<div class="board-overview-column-2 cd-tool-side-bar">
		<div class="board-cards">
			<h4>Toolbar</h4>
			<div class="spacer15"></div>
			<div class="button_wrapper">
				<button *ngIf="isEdit == true" type="submit" class="btn-secundary block">Save changes</button>
				<div class="spacer15"></div>
				<button *ngIf="isEdit == false" type="submit" [disabled]="loading" class="btn-primary block">Add Branch</button>
				<!-- <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>-->
			</div>
			<!-- <div class="spacer15"></div>
			<div *ngIf="added" class="alert alert-success">
				<strong>Success!</strong> Branch successfully added.
			</div>
			<hr> -->
			<!-- <div class="spacer10"></div>
			<label>Pillars:</label>
			<ul>
				<li>
					<label for="all1" class="form-check-label-sidebar">
						<input id="all1" type="checkbox" onClick="toggle(this)" /> All</label>
				</li>
				<li>
					<label for="trust" class="form-check-label-sidebar">
						<input id="trust" name="pillars" type="checkbox" /> Trustworthiness</label>
				</li>
				<li>
					<label for="respect" class="form-check-label-sidebar">
						<input id="respect" name="pillars" type="checkbox" /> Respect</label>
				</li>
				<li>
					<label for="resp" class="form-check-label-sidebar">
						<input id="resp" name="pillars" type="checkbox" /> Responsability</label>
				</li>
				<li>
					<label for="fair" class="form-check-label-sidebar">
						<input id="fair" name="pillars" type="checkbox" /> Fairness</label>
				</li>
				<li>
					<label for="caring" class="form-check-label-sidebar">
						<input id="caring" name="pillars" type="checkbox" /> Caring</label>
				</li>
				<li>
					<label for="citizen" class="form-check-label-sidebar">
						<input id="citizen" type="checkbox" /> Citizenship</label>
				</li>
			</ul> -->

			<!-- <div class="spacer15"></div>
			<label>Grades:</label>
			<ul>
				<li>
					<label for="all2" class="form-check-label-sidebar">
						<input id="all2" type="checkbox" /> All</label>
				</li>
				<li>
					<label for="k2" class="form-check-label-sidebar">
						<input id="k2" type="checkbox" /> K - 2</label>
				</li>
				<li>
					<label for="35" class="form-check-label-sidebar">
						<input id="35" type="checkbox" /> 4 - 5</label>
				</li>
				<li>
					<label for="68" class="form-check-label-sidebar">
						<input id="68" type="checkbox" /> 6 - 8</label>
				</li>
				<li>
					<label for="912" class="form-check-label-sidebar">
						<input id="912" type="checkbox" /> 9 - 12</label>
				</li>
				<li>
					<label for="higherlearning" class="form-check-label-sidebar">
						<input id="higherlearning" type="checkbox" /> Higher Learning</label>
				</li>
				<li>
					<label for="business" class="form-check-label-sidebar">
						<input id="business" type="checkbox" /> Business</label>
				</li>
			</ul>

			<div class="spacer15"></div>

			<label>Subject:</label>
			<ul>
				<li>
					<label for="all3" class="form-check-label-sidebar">
						<input id="all3" type="checkbox" /> All</label>
				</li>
				<li>
					<label for="language" class="form-check-label-sidebar">
						<input id="language" type="checkbox" /> English</label>
				</li>
				<li>
					<label for="math" class="form-check-label-sidebar">
						<input id="math" type="checkbox" /> Language Arts</label>
				</li>
				<li>
					<label for="social-studies" class="form-check-label-sidebar">
						<input id="social-studies" type="checkbox" /> Math</label>
				</li>
				<li>
					<label for="physicaledu" class="form-check-label-sidebar">
						<input id="physicaledu" type="checkbox" /> Physical Edu</label>
				</li>
				<li>
					<label for="religion" class="form-check-label-sidebar">
						<input id="religion" type="checkbox" /> Religion</label>
				</li>
				<li>
					<label for="science" class="form-check-label-sidebar">
						<input id="science" type="checkbox" /> Science</label>
				</li>
				<li>
					<label for="science" class="form-check-label-sidebar">
						<input id="science" type="checkbox" /> Social Studies</label>
				</li>
				<li>
					<label for="science" class="form-check-label-sidebar">
						<input id="science" type="checkbox" /> Spanish</label>
				</li>
				<li>
					<label for="homeroom" class="form-check-label-sidebar">
						<input id="homeroom" type="checkbox" /> Home Room / General</label>
				</li>
				<li>
					<label for="art-studies" class="form-check-label-sidebar">
						<input id="art-studies" type="checkbox" /> Art Studies</label>
				</li>
			</ul> -->
		</div>
	</div>
</form>