body{
  background-color: #000;
}
.qa-top-bar{
    border-radius: 3px;
    margin-bottom: 30px;
    padding: 10px 8px;
    background: #f7f8fa;
    margin-top: 15px;
    font-size: 16px;
  }
  
  .qa-holder {
    margin-bottom: 15px;
    padding: 15px;
    padding-bottom: 0;
    border: 1px solid #f7f8fa;
  }
  .qa-holder .qa-items {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  .qa-holder .qa-items span {
    background: #e2e2ed;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    font-size: 13px;
    margin-right: 15px;
  }
  .qa-holder .qa-items p {
    font-size: 16px;
    margin-top: 10px;
  }
  .qa-holder .qa-answers {
    padding-bottom: 15px;
  }
  .qa-checkbox, .qa-radio{
    transition: all 0.3s ease 0s;
    padding: 10px 40px;
    border-radius: 3px;
    background-color: #f7f8fa;
    font-size: 13px;
  }
  .qa-checkbox:hover, .qa-radio:hover{
    background-color: #e2e2ed;
  }
  .qa-module {
    background: #f7f8fa;
    padding: 15px;
  }
  .qa-module hr {
    border-color: #b0b0d0;
  }
  .qa-module h6{
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    color: #5F60AB;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .qa-answer-module{
    background: #e2e2ed;
    padding: 15px 20px;
    border-radius: 3px;
  }
