<div class="content-wrapper board-overview">
  <div class="board-overview-column-1">
<!-- Title-->
    <div class="cd-page-header">
      <h3 *ngIf="isEdit==false">Create Evaluation</h3>
				<h3 *ngIf="isEdit==true">Edit Evaluation</h3>
    </div>
    <div class="board-cards">
      <div class="spacer15"></div>
      <div *ngIf="successMessage" class="row-fluid clearfix alert alert-success margin-bottom-20">
          <strong>Success!</strong> {{successMessage}}
        </div>
        <div *ngIf="error" class="row-fluid clearfix alert alert-danger margin-bottom-20">
          <strong>Error!</strong> {{error}}.
        </div>

      <ul class="qa-top-bar">
        <li>Use the form below to create your evaluation.</li>
      <!--                    <li class="float-btn"><a href="" class="btn-quaternary">Preview</a></li>-->
      </ul>
      <form novalidate #f1="ngForm" (ngSubmit)="addQuestion(f1, f1.value)">
        <!--Evaluation Title-->
        <div class="form-group">
          <label>Title</label>
          <input ngModel required type="text" class="wide" name="evaluationTitle" #evaluationTitle="ngModel" [(ngModel)]="title" placeholder="Give your evaluation a title">

        <div *ngIf="evaluationTitle.invalid && (evaluationTitle.dirty || evaluationTitle.touched) || (evaluationTitle.invalid && submitted)"
          class="alert alert-danger">
          <div *ngIf="evaluationTitle.touched  && evaluationTitle.errors.required">
            Title is required.
          </div>
        </div>

        </div>

        <div class="spacer15"></div>
 
        <!-- Question holder -->
        <div class="qa-holder" *ngFor="let q of questionsList; let i = index;">
          <!-- Question-->
          <div class="qa-items">
            <span>{{i+1}}</span>
            <p style="width:90%">{{q.description}}</p>
            <i class="fa fa-times-circle fa-2x" style="font-style:normal" title="Remove Question" (click)="RemoveQuestion(i)"></i>
            
          </div>

          <!-- Answers type open -->
          <div class="qa-answers">
            <div *ngIf="isOpen">              
              <label>Write your answer
                <input class="wide" name="ans" type="text" ngModel placeholder="Write your Answer"/>
              </label>
            </div>
            <div *ngIf="q.questionType === 1">
              <div *ngFor="let option of q.questionOptions">
                <label class="form-check-label" >
                  <input type="checkbox" ngModel name="multiple"/> {{option.description}}
                </label>
              </div>
            </div>
            <div *ngIf="q.questionType === 2">
              <div *ngFor="let option of q.questionOptions; let i = index;">
                <label class="form-check-label" >
                  <input type="radio" value="{{option.description}}" ngModel name="single" (change)="singleOptionSelected($event, option, q.questionOptions)" /> {{option.description}}
                </label>
              </div>
            </div>
            <div *ngIf="q.questionType === 3">
              <div >
                <label class="form-check-label" >
                  <input type="radio" value="True" name="trueFalse"  ngModel/> True
                </label>
                <label class="form-check-label" >
                  <input type="radio" value="False" name="trueFalse"  ngModel/> False
                </label>
              </div>
            </div>
            <div *ngIf="q.questionType === 4">
                <div *ngFor="let option of q.questionOptions; let i = index;">
                    <label class="form-check-label" >
                        <input type="radio" value="{{option.description}}" (change)="singleOptionSelected($event, option, q.questionOptions)" ngModel name="single"/> {{option.description}}
                     
                    </label>
                    <img src="{{option.imagePath}}" />
                  </div>
                <!-- <label>Write your answer
                    <input class="wide" name="ans" type="text" ngModel placeholder="Write your Answer"/>
                  </label> -->
              </div>
            <div *ngIf="q.questionType == 5">
                <div *ngFor="let option of q.questionOptions">
                    <label class="form-check-label" >
                      <input type="checkbox" ngModel value="{{option.description}}"  name="multiple" 
                          (change)="multipleOptionSelected($event, option, q.questionOptions)"/> {{option.description}}
                    </label>
                    <img src="{{option.imagePath}}"  /> 
                  </div>
                <!-- <div *ngFor="let option of q.questionOptions">
                  <label class="form-check-label" >
                    
                  </label>
                </div> -->
              </div>
          </div><!-- End .qa-answers-->
        </div><!-- End .qa-holder -->

        <div class="qa-module">
          <ul class="qa-add-module">
            <li>
              <h6>Add Question</h6>
              <input name="descriptionInput" #descriptionInput="ngModel" type="text" [(ngModel)]="description" class="wide" placeholder="Add question">
                <div *ngIf="description ==''  && questionEmpty" class="alert alert-danger">
                <div>
                  Question text is required.
                </div>				
              </div>
              <div class="spacer15"></div>
            </li>
            <li>
              <ul>
                <li>
                  <h6>Add Answer</h6>
                  <hr>
                  <label>Type</label>
                  <div class="dropdown">
                    <select class="dropdown-select" ngModel #selectedCategory='ngModel' (change)="onTypeChange($event.target.value)" name="category">
                      <option value="0">Open</option>
                      <option value="1">Multiple</option>
                      <option value="2">Single</option>
                      <option value="3">True/False</option>
                      <option value="4">Single With Image</option>
                      <option value="5">Multiple With Image</option>
                    </select>
                  </div>
                  <div class="spacer10"></div>
                  <hr>
                  <label *ngIf="isImage">Select Image</label>
                  <input type="file" *ngIf="isImage" name="fileInput" #fileInput [(ngModel)]="file"  (change)="onImageFileSelected($event)" placeholder="Upload Question Image" accept=".png,.jpeg,.jpg">
                  <div *ngIf="isImage && !fileUploadResponse && optionSubmitted"
                  class="alert alert-danger">
                    Please select an image
                </div> 
                  <div class="spacer10"></div>
                  <label >Write answers</label>
                  <input [(ngModel)]="option" class="wide" [disabled]="isOpen" name="opt" #opt="ngModel" placeholder="Short Description" type="text"/>
                    <div *ngIf="(!option || option=='') && optionSubmitted"
                      class="alert alert-danger">
                        Add description for option.
                    </div> 
                  <div class="spacer15"></div>
                  <div class="form">
                    <li *ngFor="let opt of arrayoptions let i = index;" >{{opt}}
                      <i class="fa fa-times-circle fa-1x" style="color:Tomato; font-style:normal" title="Remove Option" (click)="RemoveOption(i)"></i>
                    </li>
                  </div>
                  <hr>
                  <div class="row-fluid clearfix">
                    <button (click)="addoptions()" [disabled]="isOpen" type="button" class="btn-quaternary mid-btn">+ Add</button>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
          <button type="submit" class="btn-tertiary">Add Question</button>
        </div>
      </form>
    </div>


    <div class="board-cards">
      <div class="spacer5"></div>
      <h6>Assign to content</h6>

      <label for="">Attached content:</label>
      <div class="ev-attach">
        <!--<p>Content title Phasellus mollis tortor eu ligula placerat</p>-->
        <p>{{selectedContentName}}</p>
        <a href="javascript:void(0);" (click)="selectedContentName='';">&times;</a>
      </div>
      <div class="spacer15"></div>
      <label>Search content</label>

      <!-- <input [(ngModel)]="sword" type="text" name="sword" (keyup)="searchWord(sword)" class="wide" required/> -->

        <ng-select
            [items]="contents"
            bindLabel="title"
            bindValue="branchId"
            placeholder="Select contents"
            [(ngModel)]="selectedContents">
        </ng-select>

      <!-- <div class="spacer15"></div>
      <ul class="list-group" *ngIf="displayList!=false">
        <li class="list-group-item" *ngFor="let contentList of searchResult" (click)="fillTextbox(contentList)" [value]="contentList.id">{{contentList.Name}}</li>
      </ul>
      <a href="javascript:void(0);" (click)="addContent();" class="btn-tertiary sm-btn">+ Add</a>
      <div class="spacer5"></div> -->
     </div>

   </div><!--Ends .board-overview-column-1-->

   <div class="board-overview-column-2 cd-tool-side-bar">
     <div class="board-cards">
      <h4>Toolbar</h4>
      <div class="spacer15"></div>
      <div class="button_wrapper">
        <button *ngIf="isEdit == true" type="submit" (click)="CreateEvaluation(f1)" class="btn-secundary block" >Save Changes</button>
        <div class="spacer15"></div>
        <button *ngIf="isEdit == false" type="submit"  (click)="CreateEvaluation(f1)" class="btn-primary block" >Publish</button>
      </div>

      <div class="spacer15"></div>
      <hr>
      <div class="spacer10"></div>

      <!-- <div class="form-group">
        <label for="">Country / Region:</label>
        <input id="country-region" placeholder="Country or Region" class="form-control" required type="text" ngModel name="country" />
      </div> -->

      <div class="spacer15"></div>

      <label for="">Language:</label>
      <div class="dropdown">
        <select name="" class="dropdown-select" ngModel name="language">
          <option value="">EN - English</option>
          <option value="">ES - Español</option>
        </select>
      </div>

      <div class="spacer15"></div>
      <label>Branch:</label>
      <div class="dropdown">
        <select class="dropdown-select" name="branch" #branch="ngModel"  [(ngModel)]="selectedBranchId" required>
          <option *ngFor="let branch of AllBranchesOnly" [value]="branch.id">
            {{branch.name}}
          </option>
        </select>
        <div *ngIf="branch.invalid || branch.value=='0' || (branch.invalid && submitted)"
        class="alert alert-danger">
        <div *ngIf="branch.errors.required">
          Branch is required.
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
