<div *ngIf="AllPillarsWithCheckBoxes!=null && AllSubjectsWithCheckBoxes!=null && AllGradesWithCheckBoxes!=null">
  <div *ngIf="onEdit()"></div>
</div>
<form novalidate #f="ngForm">
  <div class="content-wrapper board-overview">
    <div class="board-overview-column-1">
      <!-- Title-->
      <div class="cd-page-header">
        <h3 *ngIf="isEdit==false">Create Content</h3>
        <h3 *ngIf="isEdit==true">Edit Content</h3>
      </div>
      <div class="board-cards">
        <div *ngIf="successMessage" class="row-fluid clearfix alert alert-success margin-bottom-20">
          <strong>Success!</strong> {{successMessage}}
        </div>
        <div *ngIf="error" class="row-fluid clearfix alert alert-danger margin-bottom-20">
          <strong>Error!</strong> {{error}}.
        </div>

        <div class="form-group">
          <label>Content Type</label>
          <div class="dropdown">
            <select class="dropdown-select" [(ngModel)]="selectedContentType" (change)="parseValue($event.target.value)" name="selectedContent"
              #selectedContent="ngModel" required>
              <option value="-1">Select One </option>
              <option *ngFor="let name of options" [value]="name">
                {{name}}
              </option>
            </select>
          </div>
          <div *ngIf="(selectedContent.invalid || selectedContentType == -1) && (selectedContent.dirty || selectedContent.touched) || (selectedContent.invalid && submitted)"
            class="alert alert-danger">
            <div>
              Content Type is required.
            </div>
          </div>

          <div class="spacer15"></div>
          <label for="">Branch:</label>
          <div class="dropdown">
            <select [ngModel]="selectedBranchId" (ngModelChange)="onChangeBranch($event)" class="dropdown-select" name="selectedBranch"
              #selectedBranch="ngModel" required>
              <option value="-1">Select One </option>
              <option *ngFor="let branch of AllBranchesOnly" [ngValue]="branch.id">
                {{branch.name}}
              </option>
            </select>
          </div>
          <div *ngIf="(selectedBranch.invalid || selectedBranchId == -1) && (selectedBranch.dirty || selectedBranch.touched) || (selectedBranch.invalid && submitted)"
            class="alert alert-danger">
            <div>
              Branch is required.
            </div>
          </div>

          <div class="spacer15"></div>
          <label for="">Language:</label>
          <div class="dropdown">
            <select [(ngModel)]="language" class="dropdown-select" name="selectedLanguage" #selectedLanguage="ngModel" required>
              <option class="dropdown-select" value="-1">Select One </option>
              <option value="En-us">EN - English</option>
              <option value="ES-es">ES - Español</option>
            </select>
          </div>
          <div *ngIf="(selectedLanguage.invalid || language == -1) && (selectedLanguage.dirty || selectedLanguage.touched) || (selectedLanguage.invalid && submitted)"
            class="alert alert-danger">
            <div>
              Language is required.
            </div>
          </div>
        </div>

        <div class="spacer10"></div>
        <hr>
        <div class="spacer10"></div>

        <div class="form-group">
          <label for="radio">Title</label>
          <input [(ngModel)]="title" type="text" maxlength="60" name="contenttitle" #contenttitle="ngModel" class="wide" placeholder="Content Title"
            required/>
          <span>Max of 60 characters</span>
          <div *ngIf="contenttitle.invalid && (contenttitle.dirty || contenttitle.touched) || (contenttitle.invalid && submitted)"
            class="alert alert-danger">
            <div *ngIf="contenttitle.errors.required">
              Title is required.
            </div>
            <div *ngIf="contenttitle.errors.maxlength">
              Max of 60 characters
            </div>
          </div>
        </div>

        <div class="spacer15"></div>

        <div class="form-group">
          <label for="radio">Short Description</label>
          <textarea cols="20" rows="2" maxlength="120" class="form-control" [(ngModel)]="description" #contentDescription="ngModel"
            name="contentDescription" required></textarea>
          <span>Max of 120 characters</span>  
          <div *ngIf="contentDescription.invalid && (contentDescription.dirty || contentDescription.touched) || (contentDescription.invalid && submitted)"
            class="alert alert-danger">
            <div *ngIf="contentDescription.errors.required">
              Description is required.
            </div>
            <div *ngIf="contentDescription.errors.maxlength">
              Max of 120 characters
            </div>
          </div>
        </div>
        <div class="spacer15"></div>
        <div>
          <label for="radio">Content Text</label>
          <textarea htmlEditor [(ngModel)]="contentText" name="contentText1" cols="20" rows="20" #contentText1="ngModel" onblur="getTextContent($event)"
            required></textarea>
          <div *ngIf="contentText1.invalid && (contentText1.dirty || contentText1.touched) || (contentText1.invalid && submitted)"
            class="alert alert-danger">
            <div *ngIf="contentText1.errors.required">
              Content Text is required.
            </div>
          </div>
        </div>
        <div class="spacer15"></div>
        
        <div class="form-group">
          <label>Extended Text</label>
          <input type="text" class="wide" id="text" placeholder="Copyrights, Notes or Credits" [(ngModel)]="extendedText" #extendedText1="ngModel"
            name="extendedText" required/>
          <div *ngIf="extendedText1.invalid && (extendedText1.dirty || extendedText1.touched) || (extendedText1.invalid && submitted)"
            class="alert alert-danger">
            <div *ngIf="extendedText1.errors.required">
              Extended Text is required.
            </div>
          </div>
        </div>

        <div class="spacer15"></div>
        <hr>
        <div class="spacer15"></div>

        <div class="form-group">
          <label>Add tags</label>
          <div id="content-tags" class="input textarea clearfix"></div>
          <span>Press enter or , to add a tag. Press backspace to edit previous tag.</span>
        </div>

        <div class="spacer15"></div>
        <hr>
        <div class="spacer5"></div>
        
        <ng-container *ngIf="ContentTypeValue!=5">
          <h6>Upload File</h6>
          <div class="form-group">
            <input type="file" (change)="onContentFileSelected($event)" placeholder="Upload file" accept=".png,.jpeg,.jpg">
            <div class="col-sm-3 image-container" *ngIf="contentImage">
              <img class="image" [src]="contentImage">
              <button class="btn btn-danger delete-button" (click)="deleteFileAttachment()">Delete</button>
            </div>
          
          </div>
        </ng-container>

        <ng-container *ngIf="ContentTypeValue==5">
            <app-tabs>
                <app-tab [tabTitle]="'Add Card'">
                  <app-contents-edit-flash-card-list
                    [cards]="cards"
                    (addCard)="onAddCard()"
                    (editCard)="onEditCard($event)"
                    (deleteCard)="onDeleteCard($event)">
                </app-contents-edit-flash-card-list>
                </app-tab>
            </app-tabs>
        </ng-container>

        <ng-template let-card="card" #cardEdit>
            <app-contents-edit-flash-card-edit 
              [card]="card"
              (saveCard)="onCardFormSubmit($event)">
            </app-contents-edit-flash-card-edit>
          </ng-template>

        <div class="spacer15"></div>
      </div>
      <div class="board-cards">

        <!-- Multi Select-->
        <h6>Domains</h6>

        <select id="content-multiselect" multiple="multiple" [(ngModel)]="ddd" name="domains">
          <option *ngFor="let item of domainHierarchyList" [value]="item.id" [attr.data-section]="item.parentDomainId" data-index="1"
            data-key="1" data-index="selected">{{item.name}}</option>
        </select>

      </div>

    </div>
    <!--Ends .board-overview-column-1-->

    <div class="board-overview-column-2 cd-tool-side-bar">
      <div class="board-cards">
        <h4>Toolbar</h4>
        <div class="spacer15"></div>
        <div class="button_wrapper">
          <button *ngIf="isEdit == true" [disabled]="!f.valid" type="submit" class="btn-secundary block" (click)="CreateContent(f, f.value); resetForm(f);">Save Changes</button>
          <div class="spacer15"></div>
          <button *ngIf="isEdit == false" type="submit" class="btn-primary block" (click)="CreateContent(f, f.value); resetForm(f);">Publish</button>
        </div>

        <hr>

        <p>Add to schedule:</p>
        <div class="form-group">
          <label>Date:</label>
          <input ngModel id="contentDate" name="contentDate" type="date" value="" class="form-control">
        </div>

        <hr>

        <div class="form-group">
          <label>Country / Region:</label>
          <select id="country-region" placeholder="Country or Region" class="dropdown" [(ngModel)]="selectedCountry" name="countrySelected"
            #countrySelected="ngModel" required>
            <option class="dropdown" value="-1">Select One </option>
            <option *ngFor="let country of countryList" [value]="country.id">{{country.Name}}</option>
          </select>
          <div *ngIf="(countrySelected.invalid || selectedCountry == -1) && (countrySelected.dirty || countrySelected.touched) || (countrySelected.invalid && submitted)"
            class="alert alert-danger">
            <div>
              Country is required.
            </div>
          </div>
        </div>

        <hr>

        <label>Pillars:</label>
        <label *ngIf="!pillarsFound" class="no-content-found"> No Pillars Found</label>
        <ul *ngFor="let item of AllPillarsWithCheckBoxes">
          <li>
            <label for="{{item.value}}" class="form-check-label-sidebar">
              <input type="checkbox" id="{{item.value}}" value="{{item.value}}" [checked]="item.checked" (change)="item.checked = !item.checked"
                [attr.disabled]="item.Id==1 ? true : null" /> {{item.name}}</label>
          </li>
        </ul>

        <div class="spacer15"></div>
        <label>Grades:</label>
        <label *ngIf="!gradesFound" class="no-content-found"> No Grades Found</label>
        <ul *ngFor="let item of AllGradesWithCheckBoxes">
          <li>
            <label for="{{item.value}}" class="form-check-label-sidebar">
              <input type="checkbox" id="{{item.value}}" value="{{item.value}}" [checked]="item.checked" (change)="item.checked = !item.checked"
                [attr.disabled]="item.Id==1 ? true : null" /> {{item.name}}</label>
          </li>
        </ul>

        <div class="spacer15"></div>

        <label>Subject:</label>
        <label *ngIf="!subjectFound" class="no-content-found"> No Subjects Found</label>

        <ul *ngFor="let item of AllSubjectsWithCheckBoxes">
          <li>
            <label for="{{item.value}}" class="form-check-label-sidebar">
              <input type="checkbox" id="{{item.value}}" value="{{item.value}}" [checked]="item.checked" (change)="item.checked = !item.checked"
                [attr.disabled]="item.Id==1 ? true : null" /> {{item.name}}</label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</form>
