<nav #sidebar class="cd-side-nav">
  <ul>
    <li class="cd-label">Content</li>
    <li class="overview" routerLinkActive="active">
      <a routerLink="/dashboard/Overview">Overview</a>
    </li>
    <li class="has-children content"  routerLinkActive="active">
      <a>Content</a>
      <ul>
        <li><a routerLink="/dashboard/ContentManage">Manage Content</a></li>
        <li><a routerLink="/dashboard/ContentCreate">Create Content</a></li>
      </ul>
    </li>
    <li class="has-children evaluation" routerLinkActive="active">
      <a>Evaluation</a>
      <ul>
        <li><a routerLink="/dashboard/EvaluationManage">Manage Evaluations</a></li>
        <li><a routerLink="/dashboard/EvaluationCreate">Create Evaluation</a></li>
      </ul>
    </li>
    <li class="schedule" routerLinkActive="active">
      <a routerLink="/dashboard/Schedule">Schedule</a>
    </li>
  </ul>
  <ul>
    <li class="cd-label">Settings</li>
    <li class="has-children branches" routerLinkActive="active">
      <a>Branches</a>
      <ul>
        <li><a routerLink="/dashboard/BranchManage">Manage Branches</a></li>
        <li><a routerLink="/dashboard/BranchCreate">Create Branch</a></li>
      </ul>
    </li>
    <li class="has-children createusers" routerLinkActive="active">
      <a>Users</a>
      <ul>
        <li><a routerLink="/dashboard/UserManage">Manage Users</a></li>
        <li><a routerLink="/dashboard/UserCreate">Add Users</a></li>
      </ul>
    </li>
    <li class="roles" routerLinkActive="active">
      <a routerLink="/dashboard/UserRoles" class="link">User Roles</a>
    </li>
  </ul>
</nav><!--End Sidebar Navigation-->

