/* .cd-side-nav{
  min-height: 100vh;
  background-color: #fff;
  margin-top: 1px;
}
.sidebar-heading{
  color: #ffaea6;
  font-size: 13px;
  padding: 10px;
}
ul.left_bar{
  padding:0;
  margin: 0;
}
ul.left_bar li a img{
  height: 16px;
  margin-right: 5px;
}
ul.left_bar li a{
  display: block;
  padding: 20px 10px;
  font-size: 16px;
  text-decoration: none;
  color: #333333;
  border-left: 4px solid #fff;
}
ul.left_bar li {
  list-style-type: none;
}
ul.left_bar li a:hover{
  background: #ededf7;
  border-left: 4px solid #f1563e;
}
ul.left_bar li.active a{
  background: #ededf7;
  border-left: 4px solid #f1563e;
  font-weight: bold;
}
ul.left_bar ul.collapse, ul.left_bar ul.collapsing{
  padding: 0;
}
ul.left_bar ul.collapse li, ul.left_bar ul.collapse li:hover {
  list-style-type: none;
  border: none;
}
ul.left_bar ul.collapse li a, ul.left_bar ul.collapsing li a{
  border: none;
  background: #f2f2f8;
  font-weight: normal;
  display: block;
  padding: 18px;
  font-size: 13px;
  text-decoration: none;
  color: #333333;
}
ul.left_bar ul.collapse li a:hover{
  color: #1784c7;
} */

/*ul.left_bar li a{ padding: 10px; display: block;color: #333; text-decoration: none;}

ul.left_bar li ul{background:#f7f8fa; padding: 0; }
ul.left_bar li ul li { border-bottom: 1px solid #d8d8d8;border-left:#f7f8fa;}
ul.left_bar li ul li a{ display:block; padding: 10px;}
*/
/*ul.left_bar li:hover ul li{border-left: none;}*/
