<div class="wrapper_404 text-center">
  <h1 class="color">404</h1>
  <h2>Oops, Sorry We Can’t Find That Page!</h2>
  <p>Either Something Get Wrong or the Page Doesn’t Exist Anymore. Visit Our Homepage</p>

 
  
</div>