<div class="content-wrapper board-overview">
  <div class="board-overview-column-1">
    <!-- Title-->
    <div class="cd-page-header">
      <h3>Branches</h3>
      <div class="cd-page-header_toolbar">
        <ul>
          <li>
            <a routerLink="/dashboard/BranchCreate" class="btn-tertiary">Add new branch</a>
          </li>
          <li>
            <button (click)="deleteSelectedIds()" class="btn-quaternary">Delete</button>
          </li>
        </ul>
        <input #searchInput type="text" placeholder="Search for Anything" [formControl]="searchControl">
      </div>
    </div>
    <div *ngIf="branches">
      <div *ngIf="successMessage" class="row-fluid clearfix alert alert-success margin-bottom-20">
        <strong>Success!</strong> {{successMessage}}
      </div>
      <div *ngIf="error" class="row-fluid clearfix alert alert-danger margin-bottom-20">
        <strong>Error!</strong> {{error}}.
      </div>

      <ngx-datatable 
        #table 
        class="material striped" 
        [rows]="branches" 
        [loadingIndicator]="loadingIndicator" 
        [columnMode]="'force'"
        [headerHeight]="48" 
        [footerHeight]="56" 
        [rowHeight]="'auto'" 
        [scrollbarH]="true" 
        [selectionType]="'checkbox'"
        [selectAllRowsOnPage]="true" 
        [selected]="selectedBranches" 
        [reorderable]="reorderable" 
        [externalPaging]="true"
        [count]="total"
        [offset]="pageNumber"
        [limit]="pageSize"
        (page)="setPage($event)"
        (sort)="onSort($event)"
        (select)="onSelect($event)"
        (activate)="onActivate($event)">

        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="true">

          <ng-template ngx-datatable-header-template
                      let-value="value"
                      let-allRowsSelected="allRowsSelected"
                      let-selectFn="selectFn">
              <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/>
          </ng-template>
          
          <ng-template ngx-datatable-cell-template
                      let-value="value"
                      let-isSelected="isSelected"
                      let-onCheckboxChangeFn="onCheckboxChangeFn">
              <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Name" prop="name">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
            </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="Schools" prop="numberOfSchools">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Educators" prop="numberOfEducators">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
            </ng-template>
        </ngx-datatable-column>  
        
        <ngx-datatable-column name="Students" prop="numberOfStudents">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{value}}
          </ng-template>
        </ngx-datatable-column>    

        <ngx-datatable-column name="Parents" prop="numberOfParents">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{value}}
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="Conact Email" prop="primaryContactEmail">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Phone Number" prop="primaryContactPhoneNumber">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{value}}
          </ng-template>
        </ngx-datatable-column>      

        <ngx-datatable-column name="Action"
            [width]="130"
            [sortable]="false" 
            [resizeable]="false" 
            [draggable]="false" 
            [cellClass]="row-action"
            [canAutoResize]="false">

            <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="action-buttons">                                  
                    <a [routerLink]="['/dashboard/BranchEdit',row.id]">Edit</a>
                    <a class="btn" (click)="deleteBranch(row.id)">Delete</a>
                </div>
            </ng-template>

        </ngx-datatable-column>

        <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template
                            let-rowCount="rowCount"
                            let-pageSize="pageSize"
                            let-selectedCount="selectedCount"
                            let-curPage="curPage"
                            let-offset="offset">
                <div class="page-count h-60">
                    Show
                        <select class="footer-pages" (change)="onPageLengthChange($event.target.value)" [value]="pageSize">
                            <option *ngFor="let item of pageLengths" [ngValue]="item">{{item}}</option>
                        </select>

                    entries
                    <span class="mx-48" *ngIf="rowCount!=1">
                        Showing {{pageSize * offset + 1}} to {{min(pageSize * (offset + 1), rowCount)}} of {{rowCount}} contents
                    </span>

                    <span class="mx-48" *ngIf="rowCount==1">
                        Showing 1 content
                    </span>
                </div>
                
                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                                    [pagerRightArrowIcon]="'datatable-icon-right'"
                                    [pagerPreviousIcon]="'datatable-icon-prev'"
                                    [pagerNextIcon]="'datatable-icon-skip'"
                                    [page]="curPage"
                                    [size]="pageSize"
                                    [count]="rowCount"
                                    [hidden]="!((rowCount / pageSize) > 1)"
                                    (change)="setPage($event)">
                </datatable-pager>
            </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable> 

      <!-- <div class="divTable">
        <div class="table-responsive">
          <table datatable class="table hover">
            <thead class="divTableHeading">
              <tr class="divTableRow">
                <th>
                  <input id="selectall" type="checkbox" (click)="selectAll()" name="" />
                </th>
                <th class="divTableHead">Name</th>
                <th class="divTableHead">Schools</th>
                <th class="divTableHead">Educators</th>
                <th class="divTableHead">Students</th>
                <th class="divTableHead">Parents</th>
                <th class="divTableHead">Conact Email</th>
                <th class="divTableHead">Phone Number</th>
                <th class="divTableHead">Action</th>
              </tr>
            </thead>
            <tbody class="divTableBody">
              <tr class="divTableRow" *ngFor="let branch of AllBranchesOnly">
                <td>
                  <input type="checkbox" class="case" name="" #checkboxValue [value]="branch.id" (click)="checkboxClick(checkboxValue.value,checkboxValue.checked)"
                  />
                </td>
                <td class="divTableCell">
                  <span>
                    {{ branch.name }}
                  </span>
                </td>
                <td class="divTableCell">{{branch.numberOfSchools}}</td>
                <td class="divTableCell">{{branch.numberOfEducators}} </td>
                <td class="divTableCell">{{branch.numberOfStudents}} </td>
                <td class="divTableCell">{{branch.numberOfParents}} </td>
                <td class="divTableCell">{{branch.primaryContactEmail}} </td>
                <td class="divTableCell">{{branch.primaryContactPhoneNumber}} </td>
                <td class="divTableCell">
                  <ul class="btn_row_tools">
                    <li>
                      <a [routerLink]="['/dashboard/BranchEdit',branch.id]">Edit</a>
                    </li>
                    <li>
                      <a class="btn" (click)="deleteBranch(branch.id)">Delete</a>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="edited" class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
