<div id="content-edit-flash-card">
    <!-- <table class="table table-striped">
        <thead>
            <th>Id</th>
            <th>File Name</th>
            <th></th>

        </thead>
        <tbody>
            <tr *ngFor="let card of cards">
            <td>{{ card.id }}</td>
            <td>{{ card.imgName }}</td>
            <td>
                <button class="btn btn-sm btn-default" (click)="editCard.emit(card)">Edit</button>
                <button class="btn btn-sm btn-warning" (click)="deleteCard.emit(card)">Delete</button>                
            </td>

            </tr>
        </tbody>
    </table> -->
    <button class="btn btn-default" (click)="addCard.emit()">Add New Card</button>
</div>