.tab-close {
    color: gray;
    text-align: right;
    cursor: pointer;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
  }
  
  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .nav-tabs>li{
    background: white;
    border: none;
    margin-bottom: 0;
    border-radius: 4px 4px 0 0;
  }

  .nav-tabs>li.active>a, 
  .nav-tabs>li.active>a:hover, 
  .nav-tabs>li.active>a:focus {
      background: #ddd;
      cursor: pointer;
      border: 1px solid #ddd;
      border-bottom-color: transparent;
      color: black;
  }
  
  .nav-tabs>li>a {
      margin-right: 2px;
      line-height: 1.42857143;
      border: 1px solid #ddd;
      border-radius: 4px 4px 0 0;
  }
  
  .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: gray;
  }