﻿<div class="row-fluid">
  <div class="container-fluid no-padding">
    <div class="row-fluid clearfix">
      <app-header></app-header>
    </div>
    <div class="row-fluid clearfix">
      <main class="cd-main-content font">
        <app-sidebar-menu></app-sidebar-menu>
        <div class="spacer15"></div>
        <router-outlet></router-outlet>
      </main>
    </div>
    <!-- <div class="row-fluid clearfix">
      <app-footer></app-footer>
    </div> -->
  </div>
</div>
