<div id="sign-pad-dialog">
    <h4 matDialogTitle class="modal-title">Edit Role</h4>
    <div mat-dialog-content class="modal-body">
            <div class="form-group">
					<label>Role Name</label>
					<input #newRoleInput [(ngModel)]="role.name" class="form-control" (keyup)='updateNewRoleName(newRoleInput.value)'/>
					<div *ngIf="!formValid" class="alert alert-danger">
							User Role is required.
					</div>
				</div>
				
				<div class="checkbox">
					<label>
						<input type="checkbox" (change)="updateAllPemissions($event)">
						Select All
					</label>
				</div>

				<ul class="role-list" >
					<li *ngFor="let permission of permissions">
						<label class="form-check-label-sidebar">
							<input type="checkbox"
								name="permissions"
								value="{{permission.value}}"
								[checked]="permission.checked"
								(change)="updateCheckedPemission(permission, $event)">
							{{permission.displayName}}
						</label>
					</li>
				</ul>

				<div class="spacer15"></div>
				<div>
					<a class="btn-secundary" (click)="EditRole()">Update Role</a>
				</div>
				<div class="spacer15"></div>
    </div>
</div>
