/* line 8, ../sass/base.scss */
*, *::after, *::before {
  box-sizing: border-box;
}

/* line 12, ../sass/base.scss */
html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 19, ../sass/base.scss */
body {
  background: #f7f8fa;
  color: #6b7c93;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* line 30, ../sass/base.scss */
li {
  list-style: none;
}

/* line 34, ../sass/base.scss */
hr {
  border: 0;
  height: 1px;
  background: #e0e0e0;
}

/* line 40, ../sass/base.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 45, ../sass/base.scss */
.hide {
  display: none;
}

/* line 49, ../sass/base.scss */
.block {
  display: block;
}

/* line 54, ../sass/base.scss */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 63, ../sass/base.scss */
.pace-inactive {
  display: none;
}

/* line 67, ../sass/base.scss */
.pace .pace-progress {
  background: #00ace8;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/* --------------------------------
Spacers
-------------------------------- */
/* line 80, ../sass/base.scss */
.spacer5 {
  height: 5px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 89, ../sass/base.scss */
.spacer10 {
  height: 10px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 98, ../sass/base.scss */
.spacer15 {
  height: 15px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 107, ../sass/base.scss */
.spacer20 {
  height: 20px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 116, ../sass/base.scss */
.spacer25 {
  height: 25px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 125, ../sass/base.scss */
.spacer30 {
  height: 30px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 134, ../sass/base.scss */
.spacer50 {
  height: 50px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 143, ../sass/base.scss */
.spacer100 {
  height: 100px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
