@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');

body {
  background: #f7f8fa;
  font-family: 'Open Sans', sans-serif;
}


/*
 * Global add-ons
 */


.logo-sect{ width:300px;}
.logo-sect img{ width:80%; padding:4px 10px;}
.menu{ width:100%; border-left:1px solid #f2f2f2; text-align:left;}

.menu .navbar-default{margin: 0; border-radius: 0; border:none; background: none;}
.menu form{ padding: 0 10px; border-top: none;}
/*.menu ul { padding:0; margin: 0;}
.menu ul li {list-style:none; float: right; margin-right:4px;}
.menu ul li:first-child { float: left;}*/
/*.menu ul li:first-child{ padding: 4px 0 0;cursor:pointer;font-size: 20px;}*/

/*.menu ul li .dropdown{ padding:4px 0;}
.menu ul li a{ text-decoration:none;}


.menu ul li .dropdown-menu>li{ float:none;}

.menu ul li .dropdown-menu{ left:auto; right:0;}*/

.menu ul li small{ border-radius:5px; background:#f1563e; color:#fff; padding:3px 7px;}
.menu ul li span{ margin-right:15px;}


.menu ul li img{border-radius: 50%; margin-right:4px;
    width: 25px;
    height: 25px;
  }



.but_top_menu{
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border-radius: 4px;
	border: #ddd 1px solid;
}

.but_top_menu .icon-bara{margin:0 !important;}
.but_top_menu .icon-bar { background-color: #888; display: block; width: 22px; height: 2px; border-radius: 1px;margin-top: 4px;}
/*.top-header .navbar-inverse .navbar-collapse, .top-header .navbar-inverse .navbar-form {border-color: #fff;}


 .top-header .navbar-default{margin: 0; padding: 0 ;
    background: none;
border: none;}

.top-header .navbar-collapse{ padding:0;}

.top-header .navbar-form{ padding:0;}

.top-header .navbar-right{ margin-right: 0;}*/

.sec_bg{display: flex; align-items: stretch;}

.sec_bga{background:#fff;width: 300px;

	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;

}

.sec_bga h2 {color: #ffaea6; font-size: 18px; padding: 10px; margin: 0; font-weight: normal;}











.sec_bgb{padding: 20px; width: 100%;}

.sec_bgb h2{ font-size:25px; color: #5F60AB;}
.box-sec{ background:#fff; /*max-height:300px;*/ padding:10px; margin-bottom:25px;}
.box-sec h2{ font-size:18px; margin:5px 0;}
.box-sec button{ background:#5f60ab; width:100%; padding:7px; color:#fff; border:none; margin-top:10px;}
.box-sec button:hover{ background:#292929;}

.box-sec table{ margin-top:15px; margin-bottom:0;}



.sec_bgb button.but{
    text-align: center;
    transition: all 0.3s ease 0s;
    background: #00ace8;
    padding: 6px 10px;
    border: 0;
    border-radius: 3px;
    font-size: 13px;
    color: #fff;
}

.sec_bgb button.but:hover {
    background: #5f60ab;
    color: #e2e2ed !important;
}




.card{ background:#fff; padding:10px; margin-bottom: 20px;}
.cardb { padding:15px;}
.cardb h3{font-size:18px; margin: 0; padding: 10px 0;}

.cardb button{ width:auto !important;}
.cardb p.txt{ font-size:10px;opacity: 0.5;}
.cardb table{ margin-bottom:0;}


.card .pagination>.active>a,
.card .pagination>.active>a:focus,
.card .pagination>.active>a:hover,
.card .pagination>.active>span,
.card .pagination>.active>span:focus,
.card .pagination>.active>span:hover {
    background-color: #00ace8;
    border-color: #00ace8;
}



button.btb { background:#5f60ab; width:100%; padding:7px; color:#fff; border:none; margin-top:10px;}
button.btb:hover{ background:#292929;}


button.btbc{background: #00ace8;width:100%; padding:7px; color:#fff; border:none; margin-top:10px;}
button.btbc:hover{ background:#5f60ab;}



.box-ch .checkbox, .rol_box .checkbox{ padding: 0; border-radius: 3px;}
.box-ch .checkbox:hover, .rol_box .checkbox:hover{background: #e2e2ed;}


.rol_box{max-height:316px; overflow-y: scroll; margin-bottom: 20px;}
.rol_box .checkbox{ background: #f7f8fa;}


.alertb{position:relative;}
.alertb p{ padding-right:20px;}
.alertb span{    position: absolute;
    right: 5px;
    top: 5px;}


.fc-event, .fc-event-dot {
    background-color: #F0563D;
}


@media (max-width: 768px) {
.logo-sect {margin: 0 auto;}



.top-header{    flex-direction: column; text-align: center; position:fixed; width:100%; z-index:5;}
.menu{ border-left:none;    border-top: 1px solid #f2f2f2;}
.menu form{ padding: 0 10px 10px;}
.menu .nav>li{ border-bottom:1px solid #e7e7e7;}
.sec_bga{ display: block;  position: fixed; height:100%; overflow:auto; z-index: 2; padding-top:136px; padding-bottom:20px; left:-300px;}
.sec_bgb{ padding-top:100px;}

}

/*Margins*/
.margin-right-0{
  margin-right: 0px !important;
}
.margin-left-0{
  margin-left: 0px !important;
}
.margin-top-0{
  margin-top: 0px !important;
}
.margin-bottom-0{
  margin-bottom: 0px !important;
}
.margin-right-10{
  margin-right: 10px !important;
}
.margin-left-10{
  margin-left: 10px !important;
}
.margin-top-10{
  margin-top: 10px !important;
}
.margin-bottom-10{
  margin-bottom: 10px !important;
}
.margin-right-15{
  margin-right: 15px !important;
}
.margin-left-15{
  margin-left: 15px !important;
}
.margin-top-15{
  margin-top: 15px !important;
}
.margin-bottom-15{
  margin-bottom: 15px !important;
}
.margin-right-20{
  margin-right: 20px !important;
}
.margin-left-20{
  margin-left: 20px !important;
}
.margin-top-20{
  margin-top: 20px !important;
}
.margin-bottom-20{
  margin-bottom: 20px !important;
}
.no-margin{
  margin: 0px !important;
}
.no-padding{
  padding: 0px !important;
}

/*Buttons*/
/* .btn-primary {
  transition: all 0.3s ease 0s;
  background: #00ace8;
  padding: 11px 0;
  width: 100% !important;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  color: white !important;
}
.btn-primary:active, .btn-primary:visited {
  color: white !important;
}
.btn-primary:hover {
  border-radius: 6px;
  background: #5f60ab;
  color: #e2e2ed;
}

.btn-secundary {
  transition: all 0.3s ease 0s;
  background: #5f60ab;
  padding: 10px 0;
  border-radius: 3px;
  font-size: 13px;
  text-align: center;
  color: #e2e2ed !important;
}
.btn-secundary:active, .btn-secundary:visited {
  color: #e2e2ed !important;
}
.btn-secundary:hover {
  border-radius: 6px;
  background: #292929;
  color: #e2e2ed !important;
}
.btn-tertiary {
  transition: all 0.3s ease 0s;
  background: #00ace8;
  padding: 6px 30px;
  border: 0;
  border-radius: 3px;
  font-size: 13px;
  color: white !important;
}
.btn-tertiary:active, .btn-tertiary:visited {
  color: white !important;
}
.btn-tertiary:hover {
  background: #5f60ab;
  color: #e2e2ed !important;
}

.btn-quaternary {
  text-align: center;
  transition: all 0.3s ease 0s;
  background: white;
  padding: 6px 10px;
  border: 0;
  border-radius: 3px;
  font-size: 13px;
  color: #333333 !important;
}
.btn-quaternary:hover {
  background: #5f60ab;
  color: #e2e2ed !important;
}
.btn-wide{
  min-width: 200px;
}
.btn-normal-wide{
  width: 100px;
}*/

/*Content wrapper*/
.content-wrapper{
  background-color: #F7F8FA;
}
.content-wrapper label, .content-wrapper p{
  color: #6b7c93;
}
.content-heading{
  font-weight: 600 !important;
  color: #5F60AB !important;
  font-size: 30px;
  font-family: "Work Sans", sans-serif !important;
}
.content-heading-medium{
  font-size: 24px !important;
}
.content-heading-small{
  font-size: 18px !important;
}
.line-break-white{
  border-color: #ffffff;
}

/*form inputs*/
.form-group label{
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #6b7c93;
  font-weight: normal;
}

.qa-checkbox, .qa-radio{
  transition: all 0.3s ease 0s;
  padding: 10px 30px !important;
  border-radius: 3px;
  background-color: #f7f8fa;
  font-size: 13px;
}
.qa-radio input{
  margin-left: -20px;
}
.qa-checkbox:hover, .qa-radio:hover{
  background-color: #e2e2ed;
}
.medium-label{
  font-size: 16px !important;
  font-weight: normal !important;
}
.main-content-wrapper{
  margin-top: 87px;
}
.fc-state-hover{
  background-position: 0 !important;
}
.fc-state-default{
  background-image: linear-gradient(to bottom,#fff,#fff) !important;
}
.fc-state-active{
  background-color: #cccccc !important;
  background-image: linear-gradient(to bottom,#ccc,#ccc) !important;
}
.fc-event, .ui-widget .fc-event{
  color: #fff !important;
}
.fc-event:hover{
  color: #333 !important;
}
