@import url("https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans");
/* line 1, ../sass/_navigations.scss */
.cd-main-header {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 14, ../sass/_navigations.scss */
.cd-main-header:after {
  clear: both;
  content: "";
  display: table;
}

@media only screen and (min-width: 768px) {
  /* line 22, ../sass/_navigations.scss */
  .cd-main-header {
    position: fixed;
    height: 56px;
  }
}
/* line 28, ../sass/_navigations.scss */
.cd-logo {
  float: left;
  display: block;
  margin: 11px 0 0 5%;
}
/* line 32, ../sass/_navigations.scss */
.cd-logo img {
  display: block;
  width: 125px;
  height: 30px;
}

@media only screen and (min-width: 768px) {
  /* line 40, ../sass/_navigations.scss */
  .cd-logo {
    margin: 16px 0 0 36px;
  }
}
/* line 45, ../sass/_navigations.scss */
.cd-nav-trigger {
  /* navigation trigger - visible on mobile devices only */
  float: right;
  position: relative;
  display: block;
  width: 34px;
  height: 44px;
  margin-right: 5%;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
}
/* line 57, ../sass/_navigations.scss */
.cd-nav-trigger span {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #292929;
  /* line in the center */
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -2px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
/* line 64, ../sass/_navigations.scss */
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #292929;
}
/* line 80, ../sass/_navigations.scss */
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
/* line 101, ../sass/_navigations.scss */
.cd-nav-trigger span::before {
  /* menu icon top line */
  top: -6px;
}
/* line 105, ../sass/_navigations.scss */
.cd-nav-trigger span::after {
  /* menu icon bottom line */
  top: 6px;
}
/* line 110, ../sass/_navigations.scss */
.cd-nav-trigger.nav-is-visible span {
  /* hide line in the center */
  background: rgba(255, 255, 255, 0);
}
/* line 113, ../sass/_navigations.scss */
.cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
  /* keep visible other 2 lines */
  background: #4b4b4b;
}
/* line 117, ../sass/_navigations.scss */
.cd-nav-trigger.nav-is-visible span::before {
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}
/* line 124, ../sass/_navigations.scss */
.cd-nav-trigger.nav-is-visible span::after {
  -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
  transform: translateX(4px) translateY(2px) rotate(-45deg);
}

@media only screen and (min-width: 768px) {
  /* line 135, ../sass/_navigations.scss */
  .cd-nav-trigger {
    display: none;
  }
}
/* line 140, ../sass/_navigations.scss */
.cd-search {
  position: relative;
  margin: 1.2em 6% 0.6em;
}
/* line 144, ../sass/_navigations.scss */
.cd-search.is-hidden {
  opacity: 0;
}
/* line 148, ../sass/_navigations.scss */
.cd-search::before {
  /* lens icon */
  content: '';
  position: absolute;
  left: 8px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background: transparent url(../images/icons/ico-search.svg) no-repeat 0 0;
}
/* line 165, ../sass/_navigations.scss */
.cd-search input {
  padding-left: 35px;
  width: 100%;
  height: 36px;
  border: 1px solid #cccccc;
  border-radius: .25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* line 176, ../sass/_navigations.scss */
.cd-search input:focus {
  outline: none;
}

@media only screen and (min-width: 768px) {
  /* line 183, ../sass/_navigations.scss */
  .cd-search {
    float: left;
    display: inline-block;
    width: 230px;
    height: 100%;
    margin: 0 0 0 2.5em;
  }
  /* line 189, ../sass/_navigations.scss */
  .cd-search.is-hidden {
    /* reset style */
    opacity: 1;
  }
  /* line 193, ../sass/_navigations.scss */
  .cd-search::before {
    left: 1em;
  }
  /* line 196, ../sass/_navigations.scss */
  .cd-search form {
    height: 100%;
    width: 100%;
  }
  /* line 200, ../sass/_navigations.scss */
  .cd-search input {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: white;
    border-left: 1px solid #f2f2f2;
    color: #666666;
  }
}
/* --------------------------------

Top Navigation

-------------------------------- */
/* line 218, ../sass/_navigations.scss */
.cd-nav {
  /* top nav - not visible on mobile devices */
  display: none;
}

@media only screen and (min-width: 768px) {
  /* line 224, ../sass/_navigations.scss */
  .cd-nav {
    display: block;
    float: right;
    height: 100%;
  }
}
/* line 233, ../sass/_navigations.scss */
.cd-top-nav > li > a::before {
  /* reset style */
  display: none;
}
/* line 237, ../sass/_navigations.scss */
.cd-top-nav > li a {
  padding: 1em 5% !important;
}
/* line 241, ../sass/_navigations.scss */
.cd-top-nav img {
  /* avatar image */
  position: absolute;
  left: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: none;
}

@media only screen and (min-width: 768px) {
  /* line 262, ../sass/_navigations.scss */
  .cd-top-nav a {
    display: block;
    color: #666666;
  }
  /* line 266, ../sass/_navigations.scss */
  .cd-top-nav > li {
    display: inline-block;
    margin-right: 1em;
    height: 100%;
  }
  /* line 270, ../sass/_navigations.scss */
  .cd-top-nav > li:last-of-type {
    margin-right: 0;
  }
  /* line 273, ../sass/_navigations.scss */
  .cd-top-nav > li a {
    padding: 1em .6em !important;
  }
  /* line 277, ../sass/_navigations.scss */
  .cd-top-nav img {
    display: block;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 284, ../sass/_navigations.scss */
  .cd-top-nav li:not(.has-children) a:hover {
    color: #1784c7;
  }
}
/* --------------------------------

Sidebar

-------------------------------- */
/* line 294, ../sass/_navigations.scss */
.cd-side-nav {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  padding: 45px 0 0;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  max-height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
/* line 311, ../sass/_navigations.scss */
.cd-side-nav.nav-is-visible {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s;
  max-height: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
/* line 322, ../sass/_navigations.scss */
.cd-side-nav > ul {
  padding: 0.6em 0;
}
/* line 324, ../sass/_navigations.scss */
.cd-side-nav > ul:last-of-type {
  padding-bottom: 0;
}
/* line 328, ../sass/_navigations.scss */
.cd-side-nav .cd-label, .cd-side-nav a {
  display: block;
  padding: 1em 5%;
}
/* line 332, ../sass/_navigations.scss */
.cd-side-nav .cd-label {
  color: #ffaea6;
  font-size: 13px;
  padding: .3em 5% !important;
}
/* line 337, ../sass/_navigations.scss */
.cd-side-nav a {
  position: relative;
  color: #666666;
}
/* line 341, ../sass/_navigations.scss */
.cd-side-nav ul.cd-top-nav > li:last-of-type > a {
  border-bottom: none;
}
/* line 345, ../sass/_navigations.scss */
.cd-side-nav > ul > li > a {
  padding-left: calc(5% + 24px);
  border-bottom: 1px solid #e0e0e0;
}
/* line 348, ../sass/_navigations.scss */
.cd-side-nav > ul > li > a::before {
  /* icon before item name */
  position: absolute;
  content: '';
  left: 5%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
}
/* line 365, ../sass/_navigations.scss */
.cd-side-nav > ul > li.overview > a::before {
  background: url(../images/icons/ico-overview.svg) no-repeat 0 0;
}
/* line 369, ../sass/_navigations.scss */
.cd-side-nav > ul > li.content > a::before {
  background: url(../images/icons/ico-content.svg) no-repeat 0 0;
}
/* line 373, ../sass/_navigations.scss */
.cd-side-nav > ul > li.evaluation > a::before {
  background: url(../images/icons/ico-evaluation.svg) no-repeat 0 0;
}
/* line 377, ../sass/_navigations.scss */
.cd-side-nav > ul > li.schedule > a::before {
  background: url(../images/icons/ico-schedule.svg) no-repeat 0 0;
}
/* line 381, ../sass/_navigations.scss */
.cd-side-nav > ul > li.branches > a::before {
  background: url(../images/icons/ico-branches.svg) no-repeat 0 0;
}
/* line 385, ../sass/_navigations.scss */
.cd-side-nav > ul > li.roles > a::before {
  background: url(../images/icons/ico-roles.svg) no-repeat 0 0;
}
/* line 389, ../sass/_navigations.scss */
.cd-side-nav > ul > li.createusers > a::before {
  background: url(../images/icons/ico-users.svg) no-repeat 0 0;
}

/* line 395, ../sass/_navigations.scss */
.count {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: calc(5% + 16px + 0.4em);
  padding: 0.1em 0.4em;
  background-color: #f1563e;
  border-radius: .25em;
  font-size: 13px;
  color: white;
  font-weight: bold;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  /* line 412, ../sass/_navigations.scss */
  .cd-side-nav {
    position: relative;
    float: left;
    top: auto;
    width: 110px;
    min-height: 100vh;
    padding-top: 55px;
    /* reset style */
    visibility: visible;
    opacity: 1;
    overflow: visible;
    max-height: none;
  }
  /* line 424, ../sass/_navigations.scss */
  .cd-side-nav.nav-is-visible {
    box-shadow: none;
  }
  /* line 427, ../sass/_navigations.scss */
  .cd-side-nav.is-fixed {
    position: fixed;
  }
  /* line 430, ../sass/_navigations.scss */
  .cd-side-nav > ul {
    /* reset style */
    padding: 0;
  }
  /* line 434, ../sass/_navigations.scss */
  .cd-side-nav .cd-label {
    /* remove labels on minified version of the sidebar */
    display: none;
  }
  /* line 438, ../sass/_navigations.scss */
  .cd-side-nav a {
    text-align: center;
  }
  /* line 440, ../sass/_navigations.scss */
  .cd-side-nav a:hover {
    text-decoration: none;
  }
  /* line 444, ../sass/_navigations.scss */
  .cd-side-nav > ul > li > a {
    padding: calc(2.2em + 24px) 0 2.4em;
  }
  /* line 446, ../sass/_navigations.scss */
  .cd-side-nav > ul > li > a::before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 2.4em;
  }
  /* line 457, ../sass/_navigations.scss */
  .cd-side-nav .active > a {
    /* current page */
    box-shadow: inset 3px 0 0 #f1563e;
    background-color: #ededf7;
    font-weight: 600;
    color: #6772e5;
  }
  /* line 465, ../sass/_navigations.scss */
  .cd-side-nav .count {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 0;
    top: 2em;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: calc(50% + 5px);
    right: auto;
    color: transparent;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 485, ../sass/_navigations.scss */
  .cd-side-nav {
    width: 200px;
  }
  /* line 487, ../sass/_navigations.scss */
  .cd-side-nav > ul {
    padding: 0.6em 0;
  }
  /* line 490, ../sass/_navigations.scss */
  .cd-side-nav > ul > li > a {
    padding: 1em 1em 1em 42px;
    text-align: left;
    border-bottom: none;
  }
  /* line 494, ../sass/_navigations.scss */
  .cd-side-nav > ul > li > a::before {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 18px;
  }
  /* line 507, ../sass/_navigations.scss */
  .cd-side-nav .cd-label {
    display: block;
    padding: 1em 18px;
  }
  /* line 511, ../sass/_navigations.scss */
  .cd-side-nav .action-btn {
    text-align: left;
  }
  /* line 513, ../sass/_navigations.scss */
  .cd-side-nav .action-btn a {
    margin: 0 18px;
  }

  /* line 518, ../sass/_navigations.scss */
  .no-touch .cd-side-nav .action-btn a:hover {
    background-color: #1a93de;
  }

  /* line 521, ../sass/_navigations.scss */
  .cd-side-nav .count {
    /* reset style */
    color: #666666;
    height: auto;
    width: auto;
    border-radius: .25em;
    padding: .2em .4em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
    left: auto;
    box-shadow: none;
  }
}
/* line 542, ../sass/_navigations.scss */
.has-children ul {
  position: relative;
  width: 100%;
  display: none;
  background-color: #f7f8fa;
}
/* line 548, ../sass/_navigations.scss */
.has-children > a::after {
  /* arrow icon */
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  right: 5%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../images/icons/cd-arrow.svg);
}
/* line 565, ../sass/_navigations.scss */
.has-children.selected > ul {
  display: block;
}
/* line 568, ../sass/_navigations.scss */
.has-children.selected > a::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

@media only screen and (min-width: 768px) {
  /* line 579, ../sass/_navigations.scss */
  .has-children {
    position: relative;
  }
  /* line 581, ../sass/_navigations.scss */
  .has-children ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 160px;
    padding: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  /* line 588, ../sass/_navigations.scss */
  .has-children ul a {
    text-align: left;
    border: none;
    padding: 1em;
  }

  /* line 595, ../sass/_navigations.scss */
  .no-touch .has-children ul a:hover {
    color: #1784c7;
  }

  /* line 598, ../sass/_navigations.scss */
  .has-children > a::after {
    display: none;
  }

  /* line 601, ../sass/_navigations.scss */
  .cd-side-nav .has-children.selected > a {
    /* focus state -> show sub pages */
    background-color: white;
  }

  /* line 605, ../sass/_navigations.scss */
  .cd-top-nav .has-children {
    position: relative;
    background-color: white;
  }
  /* line 608, ../sass/_navigations.scss */
  .cd-top-nav .has-children > a {
    height: 100%;
    padding: 0 calc(1.8em + 22px) 0 calc(1.8em + 26px) !important;
    line-height: 55px;
  }
  /* line 612, ../sass/_navigations.scss */
  .cd-top-nav .has-children > a::after {
    display: block;
    right: 1.8em;
  }
  /* line 617, ../sass/_navigations.scss */
  .cd-top-nav .has-children ul {
    background-color: #f2f2f8;
    width: 200px;
    top: 100%;
    right: 0;
    left: auto;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }
  /* line 624, ../sass/_navigations.scss */
  .cd-top-nav .has-children ul a {
    padding-left: 18px !important;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 633, ../sass/_navigations.scss */
  .has-children > ul {
    width: 100%;
    z-index: 1;
  }
  /* line 637, ../sass/_navigations.scss */
  .has-children ul a {
    color: black;
    font-size: 13px;
    padding-left: 18px;
  }
  /* line 642, ../sass/_navigations.scss */
  .has-children.active > ul {
    /* if the item is active, make the subnavigation visible */
    position: relative;
    display: block;
    /* reset style */
    left: 0;
    box-shadow: none;
    background: #f2f2f8;
  }

  /* line 652, ../sass/_navigations.scss */
  .no-touch .cd-side-nav .has-children:hover > ul, .cd-side-nav .has-children.hover > ul {
    /* show subnavigation on hover */
    display: block;
    opacity: 1;
    visibility: visible;
  }

  /* line 660, ../sass/_navigations.scss */
  .cd-page-header {
    flex-direction: column;
  }
  /* line 661, ../sass/_navigations.scss */
  .cd-page-header h3 {
    margin-bottom: 10px !important;
  }
  /* line 665, ../sass/_navigations.scss */
  .cd-page-header .cd-page-header_toolbar {
    border-top: 1px solid white;
    padding: 15px 0;
  }
  /* line 668, ../sass/_navigations.scss */
  .cd-page-header .cd-page-header_toolbar ul {
    display: flex;
  }
  /* line 670, ../sass/_navigations.scss */
  .cd-page-header .cd-page-header_toolbar ul li {
    margin: 0 8px;
  }
}
/* line 3, ../sass/_footer.scss */
footer {
  background: transparent;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.813em;
}

/* line 3, ../sass/_forms.scss */
input {
  font-size: 13px;
  color: #6b7c93;
  padding: 0 15px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

/* line 11, ../sass/_forms.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* line 18, ../sass/_forms.scss */
.form-group {
  display: flex;
  flex-direction: column;
}
/* line 21, ../sass/_forms.scss */
.form-group span {
  display: block;
  margin-top: 4px;
  font-size: 10px;
  opacity: .5;
}
/* line 28, ../sass/_forms.scss */
.form-group input.error {
  background: #FCF3F0;
  border: 1px solid #F1876A;
}

/* line 34, ../sass/_forms.scss */
.error-message {
  padding: 15px;
  margin-bottom: 15px;
  background: #F0563D;
  color: #ffffff;
  border-radius: 3px;
  text-align: center;
  font-size: 13px;
}

/* line 44, ../sass/_forms.scss */
.form-control {
  display: block;
  width: 100%;
  height: 42px;
  padding: 6px 12px;
  font-size: 13px;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

/* line 56, ../sass/_forms.scss */
textarea {
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

/* line 63, ../sass/_forms.scss */
label.form-check-label {
  transition: all 0.3s ease 0s;
  display: block;
  padding: 10px;
  margin: 5px 0;
  border-radius: 3px;
  background-color: #f7f8fa;
}
/* line 71, ../sass/_forms.scss */
label.form-check-label:hover {
  background-color: #e2e2ed;
  cursor: pointer;
}

/* line 77, ../sass/_forms.scss */
label.form-check-label-sidebar {
  transition: all 0.3s ease 0s;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border-radius: 3px;
  background-color: #f7f8fa;
  border: 0px solid #e0e0e0;
}
/* line 86, ../sass/_forms.scss */
label.form-check-label-sidebar:hover {
  background-color: #e2e2ed;
  cursor: pointer;
}

/* line 95, ../sass/_forms.scss */
.dropdown {
  position: relative;
  overflow: hidden;
  height: 32px;
  padding: 2px 0 0 0;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
/* line 104, ../sass/_forms.scss */
.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}
/* line 116, ../sass/_forms.scss */
.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}
/* line 120, ../sass/_forms.scss */
.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

/* line 127, ../sass/_forms.scss */
.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  background: #f2f2f2;
  /* Fallback for IE 8 */
  background: transparent !important;
  /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
/* line 144, ../sass/_forms.scss */
.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 152, ../sass/_forms.scss */
.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */
/* line 165, ../sass/_forms.scss */
.lt-ie9 .dropdown {
  z-index: 1;
}
/* line 168, ../sass/_forms.scss */
.lt-ie9 .dropdown-select {
  z-index: -1;
}
/* line 170, ../sass/_forms.scss */
.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */
@-moz-document url-prefix() {
  /* line 179, ../sass/_forms.scss */
  .dropdown-select {
    padding-left: 6px;
  }
}
/* line 186, ../sass/_forms.scss */
::-webkit-input-placeholder {
  font-size: 13px;
  color: #afafaf;
}

/* line 190, ../sass/_forms.scss */
input:-moz-placeholder {
  font-size: 13px;
  color: #afafaf;
}

/* line 195, ../sass/_forms.scss */
input:-ms-placeholder {
  font-size: 13px;
  color: #afafaf;
}

/* line 199, ../sass/_forms.scss */
::-ms-input-placeholder {
  font-size: 13px;
  color: #afafaf;
}

/* line 203, ../sass/_forms.scss */
:-ms-input-placeholder {
  font-size: 13px;
  color: #afafaf;
}

/* line 210, ../sass/_forms.scss */
.xsmallfield,
.smallfield,
.midfield,
.largefield {
  height: 42px;
  margin-bottom: 15px;
}

/* line 217, ../sass/_forms.scss */
.xsmallfield {
  max-width: 80px;
}

/* line 220, ../sass/_forms.scss */
.smallfield {
  max-width: 200px;
}

/* line 223, ../sass/_forms.scss */
.midfield {
  max-width: 50%;
}

/* line 226, ../sass/_forms.scss */
.largefield {
  max-width: 600px;
}

/* line 1, ../sass/_pagination.scss */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding: 0;
}
/* line 7, ../sass/_pagination.scss */
.pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 12, ../sass/_pagination.scss */
.pagination a {
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}

/* line 19, ../sass/_pagination.scss */
.p2 .is-active li {
  font-weight: bold;
  border-bottom: 3px solid #f1563e;
}

@media (min-width: 1200px) {
  /* line 45, ../sass/_pagination.scss */
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    padding: 0;
  }
  /* line 51, ../sass/_pagination.scss */
  .pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  /* line 56, ../sass/_pagination.scss */
  .pagination a {
    display: inline-block;
    padding: 10px 18px;
    color: #222;
  }

  /* line 63, ../sass/_pagination.scss */
  .p2 .is-active li {
    font-weight: bold;
    border-bottom: 3px solid #f1563e;
  }
}
/*
 * Typography
*/
/* line 7, ../sass/_typography.scss */
.link, .font a {
  color: #6772e5;
  text-decoration: none;
}
/* line 11, ../sass/_typography.scss */
.link:hover, .font a:hover, .link:hover, .font a:hover {
  color: #333333;
  text-decoration: none;
}

/* line 17, ../sass/_typography.scss */
.small-text {
  font-size: 13px;
}

/* line 21, ../sass/_typography.scss */
.fixed, .font pre, .font code {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 1.5;
}

/* line 23, ../sass/_typography.scss */
.quiet {
  font-color: #6b7c93;
}

/* line 24, ../sass/_typography.scss */
.loud, .bold, .font b, .font strong {
  font-color: black;
}

/* line 26, ../sass/_typography.scss */
.italic, .font i, .font em {
  font-style: italic;
}

/* line 27, ../sass/_typography.scss */
.bold, .font b, .font strong {
  font-weight: 700;
}

/* line 29, ../sass/_typography.scss */
.h1, .font h1, .h2, .font h2, .h3, .font h3, .h4, .font h4, .h5, .font h5, .h6, .font h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: #5F60AB;
}

/* line 30, ../sass/_typography.scss */
.h1, .font h1, .h2, .font h2 {
  line-height: 1.1;
}

/* line 31, ../sass/_typography.scss */
.h3, .font h3, .h4, .font h4 {
  line-height: 1.3;
}

/* line 32, ../sass/_typography.scss */
.h1, .font h1 {
  font-size: 240%;
  letter-spacing: -2px;
}

/* line 33, ../sass/_typography.scss */
.h2, .font h2 {
  font-size: 200%;
  letter-spacing: -1px;
}

/* line 34, ../sass/_typography.scss */
.h3, .font h3 {
  font-size: 180%;
}

/* line 35, ../sass/_typography.scss */
.h4, .font h4 {
  font-size: 140%;
}

/* line 36, ../sass/_typography.scss */
.h5, .font h5 {
  font-size: 130%;
}

/* line 37, ../sass/_typography.scss */
.h6, .font h6 {
  font-size: 110%;
}

/* line 39, ../sass/_typography.scss */
.unordered-list, .font ul {
  list-style-type: disc;
}

/* line 40, ../sass/_typography.scss */
.ordered-list, .font ol {
  list-style: decimal;
}

/* line 48, ../sass/_typography.scss */
.font h1 {
  margin: .5em 0 0;
}
/* line 49, ../sass/_typography.scss */
.font h2 {
  margin: .5em 0 0;
}
/* line 50, ../sass/_typography.scss */
.font h3 {
  margin: .5em 0 0;
}
/* line 51, ../sass/_typography.scss */
.font h4 {
  margin: .5em 0 0;
}
/* line 52, ../sass/_typography.scss */
.font h5 {
  margin: .5em 0 0;
}
/* line 53, ../sass/_typography.scss */
.font h6 {
  margin: .5em 0 0;
}

/* line 61, ../sass/_typography.scss */
label {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}

/* line 1, ../sass/_buttons.scss */
button {
  border: 0;
}

/* line 5, ../sass/_buttons.scss */
.btn-primary {
  display: block;
  transition: all 0.3s ease 0s;
  background: #00ace8;
  padding: 11px 0;
  width: 100% !important;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  color: white !important;
}
/* line 18, ../sass/_buttons.scss */
.btn-primary:active, .btn-primary:visited {
  color: white !important;
}
/* line 22, ../sass/_buttons.scss */
.btn-primary:hover {
  border-radius: 6px;
  background: #5f60ab;
  color: #e2e2ed;
}

/* line 29, ../sass/_buttons.scss */
.btn-secundary {
  display: block;
  transition: all 0.3s ease 0s;
  background: #5f60ab;
  padding: 10px 0;
  border-radius: 3px;
  font-size: 13px;
  text-align: center;
  color: #e2e2ed !important;
}
/* line 39, ../sass/_buttons.scss */
.btn-secundary:active, .btn-secundary:visited {
  color: #e2e2ed !important;
}
/* line 43, ../sass/_buttons.scss */
.btn-secundary:hover {
  border-radius: 6px;
  background: #292929;
  color: #e2e2ed !important;
}

/* line 50, ../sass/_buttons.scss */
.btn-tertiary {
  display: block;
  transition: all 0.3s ease 0s;
  background: #00ace8;
  padding: 6px 10px;
  border: 0;
  border-radius: 3px;
  font-size: 13px;
  color: white !important;
}
/* line 63, ../sass/_buttons.scss */
.btn-tertiary:active, .btn-tertiary:visited {
  color: white !important;
}
/* line 67, ../sass/_buttons.scss */
.btn-tertiary:hover {
  background: #5f60ab;
  color: #e2e2ed !important;
}

/* line 73, ../sass/_buttons.scss */
.btn-quaternary {
  text-align: center;
  display: block;
  transition: all 0.3s ease 0s;
  background: white;
  padding: 6px 10px;
  border: 0;
  border-radius: 3px;
  font-size: 13px;
  color: #333333 !important;
}
/* line 87, ../sass/_buttons.scss */
.btn-quaternary:hover {
  background: #5f60ab;
  color: #e2e2ed !important;
}

/* line 93, ../sass/_buttons.scss */
.btn-link {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 0.813em;
  text-align: center;
}

/* line 101, ../sass/_buttons.scss */
.btn-link-left {
  display: block;
  width: 100%;
  line-height: 32px;
  text-align: left;
}

/* line 110, ../sass/_buttons.scss */
.mid-btn {
  display: block;
  max-width: 200px !important;
}

/* line 115, ../sass/_buttons.scss */
.sm-btn {
  display: block;
  max-width: 100px !important;
}

@media (min-width: 1200px) {
  /* line 146, ../sass/_buttons.scss */
  .btn-group {
    display: flex;
  }

  /* line 149, ../sass/_buttons.scss */
  .btn-primary {
    display: block;
    transition: all 0.3s ease 0s;
    background: #00ace8;
    padding: 11px 0;
    width: 100% !important;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    color: white !important;
  }
  /* line 162, ../sass/_buttons.scss */
  .btn-primary:active, .btn-primary:visited {
    color: white !important;
  }
  /* line 166, ../sass/_buttons.scss */
  .btn-primary:hover {
    border-radius: 6px;
    background: #5f60ab;
    color: #e2e2ed;
  }

  /* line 173, ../sass/_buttons.scss */
  .btn-secundary {
    display: block;
    transition: all 0.3s ease 0s;
    background: #5f60ab;
    padding: 10px 0;
    border-radius: 3px;
    font-size: 13px;
    text-align: center;
    color: #e2e2ed !important;
  }
  /* line 183, ../sass/_buttons.scss */
  .btn-secundary:active, .btn-secundary:visited {
    color: #e2e2ed !important;
  }
  /* line 187, ../sass/_buttons.scss */
  .btn-secundary:hover {
    border-radius: 6px;
    background: #292929;
    color: #e2e2ed !important;
  }

  /* line 194, ../sass/_buttons.scss */
  .btn-tertiary {
    display: block;
    width: 150px;
    text-align: center;
    transition: all 0.3s ease 0s;
    background: #00ace8;
    padding: 6px 10px;
    border: 0;
    border-radius: 3px;
    font-size: 13px;
    color: white !important;
  }
  /* line 210, ../sass/_buttons.scss */
  .btn-tertiary:active, .btn-tertiary:visited {
    color: white !important;
  }
  /* line 214, ../sass/_buttons.scss */
  .btn-tertiary:hover {
    background: #5f60ab;
    color: #e2e2ed !important;
  }

  /* line 220, ../sass/_buttons.scss */
  .btn-quaternary {
    display: block;
    transition: all 0.3s ease 0s;
    background: white;
    padding: 6px 10px;
    border: 0;
    border-radius: 3px;
    font-size: 13px;
    color: #333333 !important;
  }
  /* line 233, ../sass/_buttons.scss */
  .btn-quaternary:hover {
    background: #5f60ab;
    color: #e2e2ed !important;
  }

  /* line 239, ../sass/_buttons.scss */
  .btn-link {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 0.813em;
    text-align: center;
  }
}
/* line 1, ../sass/_calendar.scss */
#script-warning {
  display: none;
  background: #eee;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: red;
}

/* line 13, ../sass/_calendar.scss */
#loading {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* line 20, ../sass/_calendar.scss */
#calendar {
  max-width: 100%;
  margin: 30px auto;
  padding: 0;
}

/* The Modal (background) */
/* line 2, ../sass/_modal.scss */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
/* line 25, ../sass/_modal.scss */
.modal-content {
  background-color: #fefefe;
  max-width: 600px;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 3px;
  width: 95%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
/* line 39, ../sass/_modal.scss */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  opacity: 1;
}
/* line 44, ../sass/_modal.scss */
.close:hover, .close:focus {
  color: #f1563e;
  text-decoration: none;
  cursor: pointer;
}

/* line 11, ../sass/layouts.scss */
.wrapper {
  flex: 1;
  margin-bottom: 30px;
}

/* line 17, ../sass/layouts.scss */
.login-page-logo {
  width: 200px;
  height: 90;
  margin: 30px auto;
  margin-top: 50px;
}
/* line 23, ../sass/layouts.scss */
.login-page-logo img {
  width: 100%;
  min-height: inherit;
}

/* line 31, ../sass/layouts.scss */
.lin-panel, .res-pass-panel {
  max-width: 400px;
  margin: auto;
  background: white;
  border-radius: 0;
  padding: 30px 15px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

/* line 43, ../sass/layouts.scss */
.acc-types-holder {
  max-width: 800px;
  padding: 15px;
  overflow: hidden;
  margin: -15px;
  background: white;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
/* line 55, ../sass/layouts.scss */
.acc-types-holder .acc-types-header {
  text-align: center;
}
/* line 60, ../sass/layouts.scss */
.acc-types-holder .acc-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
/* line 67, ../sass/layouts.scss */
.acc-types-holder .acc-items a {
  display: block;
  margin: 0;
  padding: 0;
  color: #6b7c93;
}
/* line 75, ../sass/layouts.scss */
.acc-types-holder .acc-cards {
  transition: all 0.3s ease 0s;
  margin: 0;
  padding: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
/* line 86, ../sass/layouts.scss */
.acc-types-holder .acc-cards:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 6px 10px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid #e2e2ed;
}
/* line 95, ../sass/layouts.scss */
.acc-types-holder .acc-cards img {
  display: block;
  margin-right: 15px;
  width: 70px;
  height: 60px;
}
/* line 102, ../sass/layouts.scss */
.acc-types-holder .acc-cards h3 {
  margin: 0;
  padding: 0;
}
/* line 106, ../sass/layouts.scss */
.acc-types-holder .acc-cards p {
  margin: 0;
  padding: 0;
}

/* line 115, ../sass/layouts.scss */
.profile-pic {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 90px;
  text-align: center;
}
/* line 121, ../sass/layouts.scss */
.profile-pic .img-holder {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-bottom: 5px;
  overflow: hidden;
}
/* line 127, ../sass/layouts.scss */
.profile-pic .img-holder img {
  margin-top: -10px;
  margin-left: -10px;
}
/* line 132, ../sass/layouts.scss */
.profile-pic span {
  font-size: 10px;
}

/* line 140, ../sass/layouts.scss */
.qa-holder {
  margin-bottom: 15px;
  padding: 15px;
  padding-bottom: 0;
  border: 1px solid #f7f8fa;
}
/* line 145, ../sass/layouts.scss */
.qa-holder .qa-items {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
/* line 149, ../sass/layouts.scss */
.qa-holder .qa-items span {
  background: #e2e2ed;
  text-align: center;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  font-size: 13px;
  margin-right: 15px;
}
/* line 162, ../sass/layouts.scss */
.qa-holder .qa-answers {
  padding-bottom: 15px;
}

/* line 167, ../sass/layouts.scss */
.qa-top-bar {
  border-radius: 3px;
  margin-bottom: 30px;
  padding: 10px 8px;
  background: #f7f8fa;
  display: flex;
  align-items: center;
}
/* line 174, ../sass/layouts.scss */
.qa-top-bar li.float-btn {
  margin-left: auto;
}

/* line 178, ../sass/layouts.scss */
.qa-module {
  background: #f7f8fa;
  padding: 15px;
}
/* line 181, ../sass/layouts.scss */
.qa-module hr {
  background: #b0b0d0;
}
/* line 185, ../sass/layouts.scss */
.qa-module .qa-add-module {
  margin-bottom: 15px;
}
/* line 187, ../sass/layouts.scss */
.qa-module .qa-add-module ul {
  border-radius: 3px;
  background: #e2e2ed;
  padding: 5px;
}
/* line 191, ../sass/layouts.scss */
.qa-module .qa-add-module ul li {
  display: block;
  margin: 15px;
}

/* line 201, ../sass/layouts.scss */
.msg-pannel {
  max-width: 500px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}

/* line 212, ../sass/layouts.scss */
.content_box_header,
.content_box,
.content_desc,
.content_box_header,
.btn_row_tools,
.cd-page-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* line 225, ../sass/layouts.scss */
.cd-page-header {
  flex-direction: column;
}
/* line 228, ../sass/layouts.scss */
.cd-page-header .cd-page-header_toolbar {
  margin: 15px 0;
}
/* line 230, ../sass/layouts.scss */
.cd-page-header .cd-page-header_toolbar ul {
  display: flex;
}
/* line 232, ../sass/layouts.scss */
.cd-page-header .cd-page-header_toolbar ul li {
  margin-right: 10px;
}
/* line 234, ../sass/layouts.scss */
.cd-page-header .cd-page-header_toolbar ul li:last-child {
  display: none;
}

/* line 242, ../sass/layouts.scss */
.content_box_header {
  padding: 0 15px;
  margin: 0;
  width: 100%;
  list-style: none;
  display: none;
}
/* line 248, ../sass/layouts.scss */
.content_box_header li {
  height: 25px;
}
/* line 251, ../sass/layouts.scss */
.content_box_header .col1, .content_box_header .col2, .content_box_header .col4, .content_box_header .col5 {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 257, ../sass/layouts.scss */
.content_box_header .col3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
}
/* line 264, ../sass/layouts.scss */
.content_box_header .col1 {
  width: 40px;
}
/* line 267, ../sass/layouts.scss */
.content_box_header .col2 {
  width: 120px;
}
/* line 270, ../sass/layouts.scss */
.content_box_header .col3 {
  width: 100%;
}
/* line 273, ../sass/layouts.scss */
.content_box_header .col4 {
  width: 150px;
}
/* line 276, ../sass/layouts.scss */
.content_box_header .col5 {
  width: 100px;
}

/* line 281, ../sass/layouts.scss */
.content_box {
  flex-direction: column;
  margin: 0;
  margin-bottom: 3px;
  padding: 15px;
  background: #f7f8fa;
}
/* line 288, ../sass/layouts.scss */
.content_box .content_desc {
  list-style: none;
  width: 100%;
}
/* line 291, ../sass/layouts.scss */
.content_box .content_desc .col1, .content_box .content_desc .col2, .content_box .content_desc .col4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 297, ../sass/layouts.scss */
.content_box .content_desc .col3 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10px;
}
/* line 305, ../sass/layouts.scss */
.content_box .content_desc .col2 {
  display: block;
}
/* line 309, ../sass/layouts.scss */
.content_box .content_desc .col3 {
  width: 100%;
}
/* line 313, ../sass/layouts.scss */
.content_box .content_desc .col4, .content_box .content_desc .col1, .content_box .content_desc .col6 {
  display: none;
}
/* line 317, ../sass/layouts.scss */
.content_box .btn_row_tools {
  margin-top: 30px;
  background: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 324, ../sass/layouts.scss */
.content_box .btn_row_tools li {
  padding: 10px 0;
  font-size: 13px;
}

/* line 333, ../sass/layouts.scss */
.board-overview {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
/* line 339, ../sass/layouts.scss */
.board-overview .board-overview-column-1 .board-cards {
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 15px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 4px 0px;
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 15px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 4px 0px;
}
/* line 346, ../sass/layouts.scss */
.board-overview .board-overview-column-1 .board-cards .dropdown {
  width: 100%;
}
/* line 349, ../sass/layouts.scss */
.board-overview .board-overview-column-1 .board-cards input.wide {
  width: 100%;
  height: 42px;
}
/* line 362, ../sass/layouts.scss */
.board-overview .board-overview-column-2 .board-cards {
  border-radius: 0px;
  margin-bottom: 15px;
  padding: 15px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 4px 0px;
}
/* line 369, ../sass/layouts.scss */
.board-overview .board-overview-column-2 .board-cards .button_wrapper {
  display: flex;
  flex-direction: column;
}
/* line 376, ../sass/layouts.scss */
.board-overview .board-roles-col1 {
  flex: 2;
}
/* line 378, ../sass/layouts.scss */
.board-overview .board-roles-col1 .board-cards {
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 15px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 4px 0px;
}
/* line 387, ../sass/layouts.scss */
.board-overview .board-roles-col2 {
  flex: 1;
}
/* line 389, ../sass/layouts.scss */
.board-overview .board-roles-col2 .board-cards {
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 15px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 4px 0px;
}
/* line 398, ../sass/layouts.scss */
.board-overview .cd-tool-side-bar {
  min-width: 100%;
}

/* Mobile DivTable */
/* line 406, ../sass/layouts.scss */
.divTable {
  font-size: 14px;
  display: table;
  width: 100%;
}

/* line 412, ../sass/layouts.scss */
.divTableRow {
  display: table-row;
}

/* line 416, ../sass/layouts.scss */
.divTableHeading {
  display: table-header-group;
}

/* line 420, ../sass/layouts.scss */
.divTableCell, .divTableHead {
  background: #f7f8fa;
  padding: 15px 8px;
  display: table-cell;
}
/* line 425, ../sass/layouts.scss */
.divTableCell .btn_row_tools, .divTableHead .btn_row_tools {
  background: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 431, ../sass/layouts.scss */
.divTableCell .btn_row_tools li, .divTableHead .btn_row_tools li {
  padding: 10px 0;
  font-size: 13px;
}

/* line 438, ../sass/layouts.scss */
.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}

/* line 444, ../sass/layouts.scss */
.divTableBody {
  display: table-row-group;
}

/* line 448, ../sass/layouts.scss */
.ev-attach {
  display: flex;
  padding: 8px;
  border-radius: 3px;
  background: #f2f2f8;
}
/* line 454, ../sass/layouts.scss */
.ev-attach a {
  text-align: center;
  font-size: 20px;
  display: block;
  width: 25px;
  line-height: 25px;
  margin-left: auto;
}

@media (min-width: 400px) {
  /* line 469, ../sass/layouts.scss */
  .acc-types-holder {
    margin: 0;
  }
  /* line 472, ../sass/layouts.scss */
  .acc-types-holder .acc-cards img {
    width: 90px;
    height: 90px;
  }

  /* line 479, ../sass/layouts.scss */
  .lin-panel {
    background: white;
    border-radius: 3px;
    padding: 30px 15px;
  }

  /* line 485, ../sass/layouts.scss */
  .res-pass-panel {
    background: white;
    border-radius: 3px;
    padding: 30px 15px;
  }
}
/* line 496, ../sass/layouts.scss */
.cd-main-content .content-wrapper {
  padding: 45px 2% 3em;
}
/* line 499, ../sass/layouts.scss */
.cd-main-content::before {
  /* never visible - used to check MQ in jQuery */
  display: none;
  content: 'mobile';
}

@media only screen and (min-width: 768px) {
  /* line 508, ../sass/layouts.scss */
  .cd-main-content .content-wrapper {
    margin-left: 110px;
    padding-top: 55px;
  }
  /* line 512, ../sass/layouts.scss */
  .cd-main-content::before {
    content: 'tablet';
  }
}
@media only screen and (min-width: 1170px) {
  /* line 520, ../sass/layouts.scss */
  .cd-main-content .content-wrapper {
    margin-left: 200px;
  }
  /* line 523, ../sass/layouts.scss */
  .cd-main-content::before {
    content: 'desktop';
  }
}
@media (min-width: 750px) {
  /* line 532, ../sass/layouts.scss */
  .acc-types-holder {
    margin: auto;
    border-radius: 3px;
  }
  /* line 535, ../sass/layouts.scss */
  .acc-types-holder .acc-items {
    flex-direction: row;
  }
  /* line 538, ../sass/layouts.scss */
  .acc-types-holder .acc-cards {
    max-width: 220px;
    padding: 15px;
    border: 1px solid #f2f2f2;
    flex-direction: column;
  }
  /* line 544, ../sass/layouts.scss */
  .acc-types-holder .acc-cards div.fixed {
    margin-top: 15px;
  }
  /* line 548, ../sass/layouts.scss */
  .acc-types-holder .acc-cards img {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 170px;
    height: 150px;
  }
}
@media (min-width: 1200px) {
  /* line 566, ../sass/layouts.scss */
  .inline {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  /* line 571, ../sass/layouts.scss */
  .inline li {
    display: block;
    margin: 10px;
  }
  /* line 574, ../sass/layouts.scss */
  .inline li:first-child {
    margin-right: auto;
  }
  /* line 577, ../sass/layouts.scss */
  .inline li a {
    padding: 8px 15px;
  }
  /* line 582, ../sass/layouts.scss */
  .inline .form-group {
    margin-right: 15px;
  }

  /* line 587, ../sass/layouts.scss */
  .branch-id {
    margin: 15px 0;
    padding: 10px;
    background: #F2F2F8;
    color: #5f60ab;
    border-radius: 3px;
    max-width: 300px;
  }

  /* line 599, ../sass/layouts.scss */
  .acc-types-holder {
    margin: auto;
  }
  /* line 601, ../sass/layouts.scss */
  .acc-types-holder .acc-items {
    flex-direction: row;
  }
  /* line 604, ../sass/layouts.scss */
  .acc-types-holder .acc-cards {
    max-width: 240px;
    padding: 15px;
    border: 1px solid #f2f2f2;
    flex-direction: column;
  }
  /* line 610, ../sass/layouts.scss */
  .acc-types-holder .acc-cards div.fixed {
    margin-top: 15px;
  }
  /* line 614, ../sass/layouts.scss */
  .acc-types-holder .acc-cards img {
    display: block;
    margin: auto;
    width: 206px;
    height: 200px;
  }

  /* line 627, ../sass/layouts.scss */
  .qa-holder {
    margin-bottom: 15px;
    padding: 15px;
    padding-bottom: 0;
    border: 1px solid #f7f8fa;
  }
  /* line 632, ../sass/layouts.scss */
  .qa-holder .qa-items {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  /* line 636, ../sass/layouts.scss */
  .qa-holder .qa-items span {
    background: #e2e2ed;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    font-size: 13px;
    margin-right: 15px;
    line-height: 30px;
  }
  /* line 649, ../sass/layouts.scss */
  .qa-holder .qa-answers {
    padding-bottom: 15px;
  }

  /* line 654, ../sass/layouts.scss */
  .qa-top-bar {
    border-radius: 3px;
    margin-bottom: 30px;
    padding: 10px 8px;
    background: #f7f8fa;
    display: flex;
    align-items: center;
  }
  /* line 661, ../sass/layouts.scss */
  .qa-top-bar li.float-btn {
    margin-left: auto;
  }

  /* line 665, ../sass/layouts.scss */
  .qa-module {
    background: #f7f8fa;
    padding: 15px;
  }
  /* line 668, ../sass/layouts.scss */
  .qa-module hr {
    background: #b0b0d0;
  }
  /* line 672, ../sass/layouts.scss */
  .qa-module .qa-add-module {
    margin-bottom: 15px;
  }
  /* line 674, ../sass/layouts.scss */
  .qa-module .qa-add-module ul {
    border-radius: 3px;
    background: #e2e2ed;
    padding: 5px;
  }
  /* line 678, ../sass/layouts.scss */
  .qa-module .qa-add-module ul li {
    display: block;
    margin: 15px;
  }

  /* line 689, ../sass/layouts.scss */
  .cm-overview-row {
    margin: -15px;
    display: flex;
  }
  /* line 693, ../sass/layouts.scss */
  .cm-overview-row .boxtype_1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    flex: 2;
  }
  /* line 701, ../sass/layouts.scss */
  .cm-overview-row .boxtype_2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    flex: 1;
  }
  /* line 708, ../sass/layouts.scss */
  .cm-overview-row .boxtype_2 ul > li a {
    font-size: 13px;
  }
  /* line 713, ../sass/layouts.scss */
  .cm-overview-row .boxtype_3 {
    display: flex;
    flex-direction: column;
    margin: 15px;
    flex: 1;
  }
  /* line 719, ../sass/layouts.scss */
  .cm-overview-row .boxtype_3 ul > li a {
    font-size: 13px;
  }
  /* line 722, ../sass/layouts.scss */
  .cm-overview-row .boxtype_3 a {
    margin-top: auto;
  }

  /* line 729, ../sass/layouts.scss */
  .board-overview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  /* line 734, ../sass/layouts.scss */
  .board-overview .board-overview-column-1 {
    flex: 3;
  }
  /* line 738, ../sass/layouts.scss */
  .board-overview .board-overview-column-1 .board-cards {
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 15px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 4px 0px;
  }
  /* line 739, ../sass/layouts.scss */
  .board-overview .board-overview-column-1 .board-cards .dropdown {
    width: 200px;
  }
  /* line 742, ../sass/layouts.scss */
  .board-overview .board-overview-column-1 .board-cards input.wide {
    width: 100%;
    height: 42px;
  }
  /* line 754, ../sass/layouts.scss */
  .board-overview .board-overview-column-2 {
    margin-left: 15px;
  }
  /* line 756, ../sass/layouts.scss */
  .board-overview .board-overview-column-2 .board-cards {
    border-radius: 0px;
    margin-bottom: 15px;
    padding: 15px;
    background: transparent;
    box-shadow: none;
  }
  /* line 763, ../sass/layouts.scss */
  .board-overview .board-overview-column-2 .board-cards .button_wrapper {
    display: flex;
    flex-direction: column;
  }
  /* line 770, ../sass/layouts.scss */
  .board-overview .board-roles-col1 {
    margin-right: 15px;
    flex: 1;
  }
  /* line 773, ../sass/layouts.scss */
  .board-overview .board-roles-col1 .board-cards {
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 30px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 4px 0px;
  }
  /* line 781, ../sass/layouts.scss */
  .board-overview .board-roles-col2 {
    margin-left: 15px;
    flex: 1;
  }
  /* line 784, ../sass/layouts.scss */
  .board-overview .board-roles-col2 .board-cards {
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 15px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 4px 0px;
  }
  /* line 791, ../sass/layouts.scss */
  .board-overview .board-roles-col2 .board-cards a.btn-secundary {
    width: 200px;
  }
  /* line 795, ../sass/layouts.scss */
  .board-overview .board-roles-col2 .board-cards .role-list {
    display: block;
    max-height: 316px;
    overflow: scroll;
  }
  /* line 804, ../sass/layouts.scss */
  .board-overview .cd-tool-side-bar {
    min-width: 290px;
  }

  /* line 811, ../sass/layouts.scss */
  .header-schedule {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    border-bottom: 1px solid #e2e2ed;
  }

  /* line 819, ../sass/layouts.scss */
  .content_box_header,
  .content_box,
  .content_desc,
  .content_box_header,
  .btn_row_tools,
  .cd-page-header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  /* line 832, ../sass/layouts.scss */
  .cd-page-header {
    flex-direction: column;
  }
  /* line 835, ../sass/layouts.scss */
  .cd-page-header .cd-page-header_toolbar {
    display: flex;
    margin: 15px 0 0 0;
  }
  /* line 838, ../sass/layouts.scss */
  .cd-page-header .cd-page-header_toolbar ul {
    display: flex;
  }
  /* line 840, ../sass/layouts.scss */
  .cd-page-header .cd-page-header_toolbar ul li {
    margin-right: 5px;
  }
  /* line 842, ../sass/layouts.scss */
  .cd-page-header .cd-page-header_toolbar ul li:last-child {
    display: block;
  }
  /* line 848, ../sass/layouts.scss */
  .cd-page-header .cd-page-header_toolbar .search-cms {
    flex-direction: row;
    margin-left: auto;
    max-width: 400px;
  }
  /* line 852, ../sass/layouts.scss */
  .cd-page-header .cd-page-header_toolbar .search-cms input {
    height: 31px;
  }
  /* line 855, ../sass/layouts.scss */
  .cd-page-header .cd-page-header_toolbar .search-cms button {
    background: white;
    height: 31px;
    padding: 0 8px;
    border-radius: 3px;
  }
  /* line 860, ../sass/layouts.scss */
  .cd-page-header .cd-page-header_toolbar .search-cms button:hover {
    background: #5f60ab;
    color: #ffffff;
  }

  /* line 869, ../sass/layouts.scss */
  .content_box_header {
    display: flex;
    padding: 0 15px;
    margin: 0;
    font-size: 13px;
    width: 100%;
  }
  /* line 877, ../sass/layouts.scss */
  .content_box_header ul {
    list-style: none;
    display: flex;
  }
  /* line 884, ../sass/layouts.scss */
  .content_box_header ul li.col3 {
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
  }
  /* line 890, ../sass/layouts.scss */
  .content_box_header ul li.col1 {
    width: 49px;
  }
  /* line 895, ../sass/layouts.scss */
  .content_box_header ul li.col2 {
    width: 115px;
  }
  /* line 900, ../sass/layouts.scss */
  .content_box_header ul li.col3 {
    width: 100%;
  }
  /* line 906, ../sass/layouts.scss */
  .content_box_header ul li a.filters {
    display: block;
    line-height: 25px;
    padding-right: 15px;
  }
  /* line 915, ../sass/layouts.scss */
  .content_box_header .tools-action {
    width: 130px;
    text-align: center;
    margin-left: auto;
  }

  /* line 923, ../sass/layouts.scss */
  .content_box {
    flex-direction: row;
    margin: 0;
    margin-bottom: 3px;
    padding: 15px;
    background: #f7f8fa;
    font-size: 14px;
  }
  /* line 931, ../sass/layouts.scss */
  .content_box .content_desc {
    list-style: none;
    width: 100%;
  }
  /* line 934, ../sass/layouts.scss */
  .content_box .content_desc .col1, .content_box .content_desc .col2, .content_box .content_desc .col4, .content_box .content_desc .col5, .content_box .content_desc .col6 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* line 940, ../sass/layouts.scss */
  .content_box .content_desc .col4, .content_box .content_desc .col6 {
    font-size: 13px;
  }
  /* line 944, ../sass/layouts.scss */
  .content_box .content_desc .col3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
  }
  /* line 952, ../sass/layouts.scss */
  .content_box .content_desc .col1 {
    width: 40px;
    height: 40px;
  }
  /* line 959, ../sass/layouts.scss */
  .content_box .content_desc .col2 {
    width: 100px;
    height: 40px;
    font-size: 13px;
  }
  /* line 966, ../sass/layouts.scss */
  .content_box .content_desc .col3 {
    width: 100%;
  }
  /* line 971, ../sass/layouts.scss */
  .content_box .content_desc .col4 {
    text-align: right;
    width: 300px;
    height: 40px;
  }
  /* line 978, ../sass/layouts.scss */
  .content_box .content_desc .col5 {
    text-align: right;
    width: 300px;
    height: 40px;
  }
  /* line 985, ../sass/layouts.scss */
  .content_box .content_desc .col6 {
    text-align: center;
    width: 300px;
    height: 40px;
  }
  /* line 993, ../sass/layouts.scss */
  .content_box .btn_row_tools {
    border-radius: 3px;
    margin-top: 0px;
    background: #ffffff;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* line 1001, ../sass/layouts.scss */
  .content_box .btn_row_tools li {
    display: block;
  }
  /* line 1003, ../sass/layouts.scss */
  .content_box .btn_row_tools li:last-child {
    margin-left: 15px;
  }

  /* DivTable */
  /* line 1011, ../sass/layouts.scss */
  .divTable {
    font-size: 14px;
    display: table;
    width: 100%;
  }

  /* line 1017, ../sass/layouts.scss */
  .divTableRow {
    display: table-row;
  }

  /* line 1021, ../sass/layouts.scss */
  .divTableHeading {
    display: table-header-group;
  }

  /* line 1025, ../sass/layouts.scss */
  .divTableCell {
    background: #f7f8fa;
    padding: 15px 8px;
    display: table-cell;
    text-align: center;
  }
  /* line 1031, ../sass/layouts.scss */
  .divTableCell .btn_row_tools {
    background: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  /* line 1038, ../sass/layouts.scss */
  .divTableCell .btn_row_tools li {
    padding: 10px 6px;
    font-size: 13px;
  }

  /* line 1045, ../sass/layouts.scss */
  .divTableHead {
    background: #ffffff;
    padding: 8px 8px;
    display: table-cell;
    text-align: center;
  }
  /* line 1051, ../sass/layouts.scss */
  .divTableHead a {
    display: block;
    position: relative;
  }
  /* line 1054, ../sass/layouts.scss */
  .divTableHead a:after {
    content: " \25BE";
  }

  /* line 1061, ../sass/layouts.scss */
  .divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
  }

  /* line 1067, ../sass/layouts.scss */
  .divTableBody {
    display: table-row-group;
  }
}
