@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');
body {
  background: #f7f8fa;
  font-family: 'Open Sans', sans-serif;
}

.footer{ font-size:12px; color:#6d7e95; padding:5px;}



.main-log{display: flex; width: 100%; height: 100%;  align-items: center; flex-direction: column; justify-content: center; padding:10px;}

.login-sec{ width:380px; color:#6d7e95;    min-height: 95vh; }
.login-sec h2{ color:#6d7e95; margin: 0 0 15px; font-size:15px; padding:2px 0 15px; border-bottom:1px solid #d8d8d8; line-height:21px; }

.login-sec h2.top-heading{ margin:15px 0 10px; border:none; text-align:center;}

.login-sec h2 span{ display:block; font-weight:700; margin-bottom:7px; font-size:20px;}
.login-sec .form-control{border:1px solid #d8d8d8; height:44px }
.login-sec button{ background:#00bcf0; color:#fff; width:100%; border:none; border-radius:4px;  padding:12px;}
.login-sec button:hover{ background:#00a9d8;}


.login-sec img{ display:block; margin:10px auto 0; max-width:100%;}


.login-sec label{ font-weight:normal;color:#6d7e95;}
.login-sec  input[type="checkbox"] {cursor: pointer;opacity: 0;z-index: 1; }


.login-sec .checkbox{background-color: #f7f8fa;display: block; width: 100%;padding:15px;border-radius: 6px;margin: 15px 0;}

.login-sec .checkbox label:before {cursor: pointer; content: ""; display: inline-block;position: absolute;width: 22px; height: 22px; left: 0;top: 0; margin: 12px 0px 0px 12px; z-index: 0; background-image: url(images/off.png);}

.login-sec .checkbox label:after { cursor: pointer; display: inline-block; position: absolute;width: 22px; height: 22px; left: 0; top: 0px; margin: 12px 0px 0px 12px; z-index: 2; background-image: url(images/on.png);}

.login-sec .checkbox label { margin-left: 5px; }
.login-sec .checkbox input[type="checkbox"]:checked + label::after{content: ""; }


.form-bg{ background:#fff;padding:20px; margin-top:15px; position:relative;}
.form-bg .top-link{ position:absolute; right:10px; top:10px; font-size:20px; color:#e2e4e8;}

.form-footer{padding:0 50px;}

.form-bg .alert-danger{ background:#f0563d; border:1px solid #f0563d; color:#fff;}
.form-bg .has-error input{ background:#fdeeeb; border:1px solid #f0563d; color:#f0563d;}
.form-bg .has-error .form-control:focus{ border-color:#f0563d; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #f0563d; box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #f0563d;}


/*Alert message out site the box*/
.alert-dangerb{ color:#f1573e; border:1px solid #f1573e; margin:20px 0; background:#f4e6e5;}
.alert-successb{ background:#d2ffcf; border:1px solid #006d05; color:#39963c;  margin:20px 0;}



/*Model css*/
.modal-backdrop{ background:#4c4c4c;}
.modal-content{ border-radius:0; border:none;}
.modal-content p{ padding:20px; color:#fff;}
.closeb { color:#fff; opacity: 1; padding: 5px 10px !important;}



/*index page design*/

.main-tab{ }

.nav-tabs {border-bottom: none;}
.nav-tabs>li{ background:#5f60ab; border:none; margin-bottom:0;border-radius: 4px 4px 0 0; }
.nav-tabs>li>a{color:#fff; border:none;}
.nav-tabs>li>a:hover{ background: none; border:none;}
.nav-tabs>li.active{ border: none; background:#fff;}
.nav-tabs>li.active>a{ border: none;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover { border:none;}

.main-tab .tab-content{ background:#fff; }

@media (max-width: 400px) {
	.login-sec{width:300px;}
}
