﻿<div class="row-fluid">
  <div class="container-fluid no-padding">
    
    <div class="row-fluid clearfix">
      
      <div class="col-lg-10 col-md-10 margin-top-20">
        <router-outlet></router-outlet>
      </div>
    </div>
    
  </div>
</div>