<!--<div>{{address}} Datum </div>-->


<div class="row">
  <div class="col-md-6">
 	<div class="box-sec">
    	  <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
           </canvas>
  	 </div>
  </div>
<div class="col-md-6">
    <div class="box-sec">
               <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
           </canvas>
    </div>     
  </div>
  <div class="col-md-6">
    <div class="box-sec">
               <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
           </canvas>
    </div>     
  </div>
  
  <div class="col-md-6">
    <div class="box-sec">
               <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
           </canvas>
    </div>     
  </div>
  
  
</div>