<div class="content-wrapper board-overview">
  <div class="board-overview-column-1">
  <!-- Title-->
    <div class="cd-page-header">
      <h3>Create Branch</h3>
    </div>

    <div class="cm-overview-row">
      <div class="board-cards boxtype_3">
        <h5>Pillars</h5>
        <div id="pillars"></div>
      </div>
      <div class="board-cards boxtype_3">
        <h5>Format</h5>
        <div id="format"></div>
      </div>
      <div class="board-cards boxtype_3">
        <h5>Summary</h5>
        <p>Morbi pulvinar erat mauris felis</p>
        <hr>
        <ul>
          <li>
            <b>500,000</b> usuarios
          </li>
          <li>
            <b>500,000</b> Artículos
          </li>
          <li>
            <b>500,000</b> Evaluaciones
          </li>
        </ul>
        <div class="spacer15"></div>
      </div>
    </div>

    <div class="cm-overview-row">
      <div class="board-cards boxtype_3">
        <h5>Subject</h5>
        <div id="subject"></div>
      </div>
      <div class="board-cards boxtype_3">
        <h5>Domains</h5>
        <div id="domains"></div>
      </div>
      <div class="board-cards boxtype_3">
        <h5>Schedule</h5>
        <p>You have <b>3</b> upcoming events</p>
        <hr>
        <ul>
          <li><a href="" class="btn-link-left">Morbi pulvinar erat mauris felis porttitor...</a></li>
          <li><a href="" class="btn-link-left">Morbi pulvinar erat mauris felis porttitor...</a></li>
          <li><a href="" class="btn-link-left">Morbi pulvinar erat mauris felis porttitor...</a></li>
        </ul>
        <hr>
        <div class="spacer15"></div>
        <a href="dashboard_content_manager_schedule.html" class="btn-secundary">Manage schedules</a>
      </div>
    </div>

    <div class="cm-overview-row">
      <div class="board-cards boxtype_3">
        <h5>Top Keywords</h5>
        <table style="width:100%">
          <tr>
            <th style="font-size:13px; text-align:left">Keyword</th>
            <th style="font-size:13px; text-align:left">%</th>
          </tr>
          <tr *ngFor='let lst of taboneList'>
            <td>{{lst.Name}}</td>
            <td>{{lst.ID}}</td>
          </tr>
        </table>
      </div>
      <div class="board-cards boxtype_3">
      <h5>Branches</h5>
        <table style="width:100%">
          <tr>
            <th style="font-size:13px; text-align:left">Name of branch</th>
            <th style="font-size:13px; text-align:left"># of users</th>
          </tr>
          <tr *ngFor='let lst of tabsecList'>
            <td>{{lst.Name}}</td>
            <td>{{lst.ID}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>






<!-- <div class="row">
  <div class="col-lg-12">
    <h2>{{name}}</h2>

    <div class="row">
      <div class="col-lg-8">

        <my-app-check></my-app-check>

      </div> -->


      <!--  	<div class="col-lg-4">
                      <div class="box-sec">
      </div>
                      <div class="box-sec">
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="box-sec">
                      </div>
                      <div class="box-sec">
                      </div>
                  </div>-->
      <!-- <div class="col-lg-4">
        <div class="box-sec">
          <h2>{{num}}</h2>
          <p>{{st}}</p>
          <ul>
            <li *ngFor='let lst of appList'>{{lst.Name}}</li>
          </ul>
        </div>
        <div class="box-sec">
          <h2>{{sch}}</h2>
          <p>{{schText}}</p>
          <ul>
            <li><a href="#">Morbi pulvinar erat mauris felis porttitor...</a></li>
            <li><a href="#">Morbi pulvinar erat mauris felis porttitor...</a></li>
            <li><a href="#">Morbi pulvinar erat mauris felis porttitor...</a></li>
          </ul>
          <button>Manage schedules</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="box-sec">
          <h2>Top Keywords</h2>
          <table class="table table-striped">
            <tbody>
              <tr>
                <th>Keyword</th>
                <th>%</th>
              </tr>
              <tr *ngFor='let lst of taboneList'>
                <td>{{lst.ID}}</td>
                <td>{{lst.Name}}</td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box-sec">
          <h2>Top Keywords</h2>
          <table class="table table-striped">
            <tbody>
              <tr>
                <th>Name of branch</th>
                <th># of users</th>
              </tr>

              <tr *ngFor='let lst of tabsecList'>
                <td>{{lst.Name}}</td>
                <td>{{lst.ID}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>
</div> -->
