<div class="content-wrapper board-overview">
  <div class="board-overview-column-1">
    <!-- Title-->
    <div class="cd-page-header">
      <h3>Manage Evaluations</h3>
      <div class="cd-page-header_toolbar">
        <ul>
          <li>
            <a routerLink="/dashboard/EvaluationCreate" class="btn-tertiary">Create Evaluation</a>
          </li>
          <li>
            <button (click)="deleteSelectedEvalutations()" class="btn-quaternary">Delete</button>
          </li>
          <li></li>
        </ul>
        <input #searchInput type="text" placeholder="Search for Anything" (keyup)='updateFilter(searchInput.value)'>
      </div>
    </div>
    <div *ngIf="evaluations">
        <div *ngIf="successMessage" class="row-fluid clearfix alert alert-success margin-bottom-20">
            <strong>Success!</strong> {{successMessage}}
          </div>
          <div *ngIf="error" class="row-fluid clearfix alert alert-danger margin-bottom-20">
            <strong>Error!</strong> {{error}}.
          </div>

          <ngx-datatable 
            #table 
            class="material striped" 
            [rows]="filteredEvaluations" 
            [loadingIndicator]="loadingIndicator" 
            [columnMode]="'force'"
            [headerHeight]="48" 
            [footerHeight]="56" 
            [rowHeight]="'auto'" 
            [scrollbarH]="true" 
            [selectionType]="'checkbox'"
            [selectAllRowsOnPage]="true" 
            [selected]="selectedEvaluations" 
            [reorderable]="reorderable" 
            [limit]="pageSize"
            [offset]="pageNumber"
            (page)="setPage($event)"
            (select)="onSelect($event)"
            (activate)="onActivate($event)">
  
          <ngx-datatable-column
            [width]="50"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            [headerCheckboxable]="true">
  
            <ng-template ngx-datatable-header-template
                        let-value="value"
                        let-allRowsSelected="allRowsSelected"
                        let-selectFn="selectFn">
                <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/>
            </ng-template>
            
            <ng-template ngx-datatable-cell-template
                        let-value="value"
                        let-isSelected="isSelected"
                        let-onCheckboxChangeFn="onCheckboxChangeFn">
                <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/>
            </ng-template>
          </ngx-datatable-column>
  
          <ngx-datatable-column name="Name" prop="name">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{value}}
              </ng-template>
          </ngx-datatable-column>
          
  
          <ngx-datatable-column name="Branch" prop="branchName">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{row.branchName}}
              </ng-template>
          </ngx-datatable-column>
  
          <ngx-datatable-column name="Class Room" prop="classRoomName">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{row.classRoomName}}
              </ng-template>
          </ngx-datatable-column>  
              
          <ngx-datatable-column name="Action"
              [width]="130"
              [sortable]="false" 
              [resizeable]="false" 
              [draggable]="false" 
              [cellClass]="row-action"
              [canAutoResize]="false">
  
              <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="action-buttons">
                    <a [routerLink]="['/dashboard/EvaluationEdit',row.id]">Edit</a>
                    <a class="btn" (click)="deleteEvaluation(row.id)">Delete</a>
                  </div>
              </ng-template>
  
          </ngx-datatable-column>
  
          <ngx-datatable-footer>
              <ng-template ngx-datatable-footer-template
                              let-rowCount="rowCount"
                              let-pageSize="pageSize"
                              let-selectedCount="selectedCount"
                              let-curPage="curPage"
                              let-offset="offset">
                  <div class="page-count h-60">
                      Show
                          <select class="footer-pages" (change)="onPageLengthChange($event.target.value)" [value]="pageSize">
                              <option *ngFor="let item of pageLengths" [ngValue]="item">{{item}}</option>
                          </select>
  
                      entries
                      <span class="mx-48" *ngIf="rowCount!=1">
                          Showing {{pageSize * offset + 1}} to {{min(pageSize * (offset + 1), rowCount)}} of {{rowCount}} contents
                      </span>
  
                      <span class="mx-48" *ngIf="rowCount==1">
                          Showing 1 content
                      </span>
                  </div>
                  
                  <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                                      [pagerRightArrowIcon]="'datatable-icon-right'"
                                      [pagerPreviousIcon]="'datatable-icon-prev'"
                                      [pagerNextIcon]="'datatable-icon-skip'"
                                      [page]="curPage"
                                      [size]="pageSize"
                                      [count]="rowCount"
                                      [hidden]="!((rowCount / pageSize) > 1)"
                                      (change)="setPage($event)">
                  </datatable-pager>
              </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
    </div>
  </div>
</div>