﻿<!--<div class="row-fluid">
  <div class="container-fluid no-padding">
    <div class="row-fluid clearfix">
      <app-header></app-header>
    </div>
    <div class="row-fluid clearfix">
      <div class="col-lg-2 col-md-2 no-padding">
        <app-sidebar-menu></app-sidebar-menu>
      </div>
      <div class="col-lg-10 col-md-10 margin-top-20">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="row-fluid clearfix">
      <app-footer></app-footer>
    </div>
  </div>
</div>-->

<ngx-spinner 
  bdOpacity="0.4" 
  bdColor="#909090" 
  size="medium" 
  color="#fff" 
  type="ball-square-spin">
</ngx-spinner>
<!--<router-outlet name="app-header"></router-outlet>
<router-outlet name="app-sidebar-menu"></router-outlet>-->
<router-outlet></router-outlet>
<!--<router-outlet name="app-footer"></router-outlet>-->
