.modal-content{
    background:white !important;
}

.modal-backdrop{ background:#4c4c4c;}

.btn-color{
    background: #00ace8 !important;
    border-color: #00ace8 !important;
}
.modal .close{
    background: transparent;
    color: #00ace8 !important; 
}