<div class="content-wrapper">
  <div class="header-schedule">
    <h3>Schedule</h3>
    <div class="spacer15"></div>
    <!-- Trigger/Open The Modal -->

    <button class="but btn-tertiary" (click)="createNewSchedule()">Create Schedule</button>
  </div>
  <div class="spacer15"></div>
  <div class="spacer10"></div>
  <div class="row">
    <div class="col-lg-12" *ngIf="scheduleList.length>0">
      <div>
        <ng-fullcalendar id="calender" #calender 
          [options]="calendarOptions"
          (eventClick)="eventClick($event.detail.event)">
        </ng-fullcalendar>
      </div>
    </div>
  </div>




  <bs-modal #myModal class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <bs-modal-header showDismiss="true">
      <h4 class="modal-title">Create a Plan</h4>
    </bs-modal-header>
    <bs-modal-body>
      <div class="modal-dtpicker"></div>
      <!-- <div class="modal-dialog"> -->

      <form #f="ngForm" (ngSubmit)="createSchedule(f)" id="form_validation">
        <!-- <div class="modal-content"> -->
        <!-- <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Create a Plan</h4>
            </div> -->

        <!-- <div class="modal-body"> -->
        <div class="form-group">
          <label>Title</label>
          <input [(ngModel)]="scheduleObj.Title" #titleSchedule="ngModel" name="titleSchedule"  type="text" class="form-control"
            placeholder="Title" required>
          <div *ngIf="titleSchedule.invalid && (titleSchedule.dirty || titleSchedule.touched) || (titleSchedule.invalid && submitted)"
            class="alert alert-danger">
            <div *ngIf="titleSchedule.errors.required">
              Title is required.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea [(ngModel)]="scheduleObj.Description" #descriptionSchedule="ngModel" name="descriptionSchedule" class="form-control"
            placeholder="Description" rows="3"required></textarea>
            <div *ngIf="descriptionSchedule.invalid && (descriptionSchedule.dirty || descriptionSchedule.touched) || (descriptionSchedule.invalid && submitted)"
            class="alert alert-danger">
            <div *ngIf="descriptionSchedule.errors.required">
              Description is required.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Branch</label>
          <select class="form-control" [(ngModel)]="scheduleObj.BranchId" #branchId="ngModel" name="branchId" required>
            <option *ngFor="let branch of branchList" [value]="branch.id">{{branch.Name}}</option>
          </select>
          <div *ngIf="branchId.invalid && (branchId.dirty || branchId.touched) || (branchId.invalid && submitted)" class="alert alert-danger">
            <div *ngIf="branchId.errors.required">
              Branch is required.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Select Content</label>
          <!-- <select class="form-control" [(ngModel)]="scheduleObj.ContentId" #contentId="ngModel" name="contentId" required>
            <option *ngFor="let contentList of searchResult" [value]="contentList.id">{{contentList.title}}</option>

          </select> -->

          <input class="form-control" style="height: 42px;"  [(ngModel)]="sword" #contentId="ngModel" name="contentId" type="text" name="sword" (keyup)="searchWord(sword)" class="wide" required/>
          <div class="spacer15"></div>
          <ul class="list-group" *ngIf="displayList!=false">
            <li class="list-group-item" *ngFor="let contentList of searchResult" (click)="fillTextbox(contentList)" [value]="contentList.id">{{contentList.Name}}</li>
          </ul>

          <div *ngIf="contentId.invalid && (contentId.dirty || contentId.touched) || (contentId.invalid && submitted)" class="alert alert-danger">
            <div *ngIf="contentId.errors.required">
              Content is required.
            </div>
          </div>
          </div>
          <!-- <div class="form-group">
                <label>Search Content</label>
                <input [(ngModel)]="scheduleObj.ContentId" #contentId ngModel="contentId" type="text" name="sword" (keyup)="searchWord($event)" class="form-control" required/>
  
                <ul class="list-group" *ngIf="displayList!=false">
                  <li class="list-group-item" *ngFor="let contentList of searchResult" (click)="fillTextbox(contentList)" [value]="contentList.id">{{contentList.title}}</li>
                </ul>
              </div> -->
          <div class="checkbox">
            <label>
              <input [(ngModel)]="scheduleObj.AllDay" #allDay ngModel="allDay" name="allDay" type="checkbox"> All day
            </label>
          </div>
          <div class="form-group">
            <label for="startDate">Start Date</label>

            <input [(ngModel)]="scheduleObj.StartDate" type="date" name="startDate" #startDate="ngModel"
              class="form-control" id="startDate" required>
            <label for="endDate">End Date</label>
            <input [(ngModel)]="scheduleObj.EndDate" type="date" #endDate="ngModel" name="endDate" class="form-control"
              id="endDate" required>

            <div *ngIf="(startDate.invalid || endDate.invalid) && (startDate.dirty || startDate.touched || endDate.dirty || endDate.touched) || ((startDate.invalid || endDate.invalid) && submitted)"
              class="alert alert-danger">
              <div *ngIf="startDate.errors.required">
                Start and End Date is required.
              </div>
            </div>

          </div> 



            <!-- </div> -->
      </form>


      <!-- <input ngModel type="text" name="scheduleDate" id="date-range0" class="form-control"> -->
      <!-- /.modal-content -->
      <!-- </div> -->
      <!-- /.modal-dialog -->
    </bs-modal-body>
    <bs-modal-footer>
      <button type="button" class="btn btn-default" (click)="modal.close()">Close</button>
      <button type="submit" class="btn btn-warning btn-color" (click)="createSchedule(f)">Save changes</button>
    </bs-modal-footer>
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
    />
  </bs-modal>
  <!-- /.modal -->
  </div>
