<div class="content-wrapper board-overview">
	<div class="board-roles-col1">
		<!-- Title-->
		<div class="cd-page-header">
			<h3>User Roles</h3>
		</div>
		<!-- New Datatable -->
		<div *ngIf="roles">
			<ngx-datatable 
					#table 
					class="material striped" 
					[rows]="roles" 
					[loadingIndicator]="loadingIndicator" 
					[columnMode]="'force'"
					[headerHeight]="48" 
					[footerHeight]="56" 
					[rowHeight]="'auto'" 
					[scrollbarH]="true" 
					[selectionType]="'checkbox'"
					[selectAllRowsOnPage]="true" 
					[selected]="selectedRoles" 
					[reorderable]="reorderable" 
					[externalPaging]="true"
					[count]="total"
					[offset]="pageNumber"
					[limit]="pageSize"
					(page)="setPage($event)"
					(sort)="onSort($event)"
					(select)="onSelect($event)"
					(activate)="onActivate($event)">
					
				<ngx-datatable-column name="Name" prop="name">
					<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
						{{value}}
					</ng-template>
				</ngx-datatable-column>
				
		
				<ngx-datatable-column name="Action"
					[width]="180"
					[sortable]="false" 
					[resizeable]="false" 
					[draggable]="false" 
					[cellClass]="row-action"
					[canAutoResize]="false">
		
					<ng-template let-row="row" ngx-datatable-cell-template>
						<div class="action-buttons">                                  
							<a class="btn" (click)="editRole(row)">Edit</a>
							<a class="btn" (click)="deleteRole(row.id)">Delete</a>
						</div>
					</ng-template>
		
				</ngx-datatable-column>

				<ngx-datatable-footer>
						<ng-template ngx-datatable-footer-template
										let-rowCount="rowCount"
										let-pageSize="pageSize"
										let-selectedCount="selectedCount"
										let-curPage="curPage"
										let-offset="offset">
							<div class="page-count h-60">
								Show
									<select class="footer-pages" (change)="onPageLengthChange($event.target.value)" [value]="pageSize">
										<option *ngFor="let item of pageLengths" [ngValue]="item">{{item}}</option>
									</select>
			
								entries
								<span class="mx-48" *ngIf="rowCount!=1">
									total: {{rowCount}} contents
								</span>
			
								<span class="mx-48" *ngIf="rowCount==1">
									Showing 1 content
								</span>
							</div>
							
							<datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
												[pagerRightArrowIcon]="'datatable-icon-right'"
												[pagerPreviousIcon]="'datatable-icon-prev'"
												[pagerNextIcon]="'datatable-icon-skip'"
												[page]="curPage"
												[size]="pageSize"
												[count]="rowCount"
												[hidden]="!((rowCount / pageSize) > 1)"
												(change)="setPage($event)">
							</datatable-pager>
						</ng-template>
					</ngx-datatable-footer>

			</ngx-datatable> 
		</div>
	</div>
	<!-- .board-overview-split -->

	<div class="board-roles-col2">
		<div class="cd-page-header">
			<h3>Add Role</h3>
		</div>
		<div class="board-cards">
				<div *ngIf="added" class="row-fluid clearfix alert alert-success margin-bottom-20">
						<strong>Success!</strong> {{successMessage}}
					  </div>
					  <div *ngIf="error" class="row-fluid clearfix alert alert-danger margin-bottom-20">
						<strong>Error!</strong> {{error}}.
					  </div>

			<!--Number of Schools-->
				<div class="form-group">
					<label>Role Name</label>
					<input #newRoleInput [(ngModel)]="newRoleName" class="form-control" (keyup)='updateNewRoleName(newRoleInput.value)'/>
					<div *ngIf="!formValid" class="alert alert-danger">
							User Role is required.
					</div>
				</div>

				<div class="spacer15"></div>
				
				<div class="checkbox">
					<label>
						<input type="checkbox" (change)="updateAllPemissions($event)">
						Select All
					</label>
				</div>
					

				<!-- <select multiple #permissions="ngModel" name="permissions" class="form-control" [(ngModel)]="selectedPermissions">
					<option *ngFor="let permission of permissionList" [value]="permission.name"> {{permission.displayName}}</option>
				</select> -->
				<ul class="role-list" >
					<li *ngFor="let permission of permissions">
						<label class="form-check-label-sidebar">
							<input type="checkbox"
								name="permissions"
								value="{{permission.value}}"
								[checked]="permission.checked"
								(change)="updateCheckedPemission(permission, $event)">
							{{permission.displayName}}
						</label>
					</li>
				</ul>


				<div class="spacer15"></div>
				<div>
					<a class="btn-secundary" (click)="createRole()">Add Role</a>

				</div>
				<div class="spacer15"></div>
		</div>
	</div>
</div>