/* You can add global styles to this file, and also import other style files */
@import '~angular-tree-component/dist/angular-tree-component.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
.fc-event, .fc-event-dot {
    background-color: #F0563D !important;
}

.fc-event {

    border: 1px solid #F0563D !important;

}

[hidden] {
    display: none;
}

.fifty {
    width: 50%;
    float: left;
}

.ng-autocomplete-dropdown {
    position: relative;
    margin-top: 25px;
    height: 200px;
}
.ng-autocomplete-dropdown .ng-autocomplete-inputs {
    position: relative;
}
.ng-autocomplete-dropdown .ng-autocomplete-inputs input {
    width: 100%;
    padding: 6px 20px;
    font-family: Arial;
    font-weight: normal;
    outline: none !important;
    font-size: 15px;
    height: 56px;
    border: 1px solid #e0e0e0;
}

.ng-autocomplete-dropdown .ng-autocomplete-placeholder {
    position: absolute;
    margin: 3px;
    background-color: #fff;
    padding: 17px 18px;
    font-family: Arial;
    font-weight: normal;
    font-size: 15px;
    width: calc(100% - 4px);
}
.ng-autocomplete-placeholder{
  display:hidden;
}
.ng-autocomplete-dropdown .ng-dropdown {
    display: none;
    border: 1px solid #e0e0e0;
    z-index: 99999;
    max-height: 280px;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
}
.ng-autocomplete-dropdown .ng-dropdown.open {
    display: block;
}
.ng-autocomplete-dropdown .ng-dropdown .dropdown-item {
    width: 100%;
    cursor: pointer;
    padding: 18px 20px;
    font-family: Arial;
    font-weight: normal;
    font-size: 15px;
    height: 56px;
    background-color: #ffffff;
}
.ng-autocomplete-dropdown .ng-dropdown .dropdown-item:nth-child(odd) {
    background-color: #efefef;
}
.ng-autocomplete-dropdown .ng-dropdown .dropdown-item.active {
    background-color: #0099cc;
    color: #fff !important;
}

.ng-autocomplete-dropdown .ng-dropdown .dropdown-item .dropdown-item-highlight {
    font-weight: bold;
}

.ng-autocomplete-dropdown-icon {
    display: block;
    width: 56px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-left: 1px solid #e0e0e0;
    cursor: pointer;
    z-index: 999;
    font-size: 12px;
    color: #758694;
    padding: 21px 0;

}

.ng-autocomplete-dropdown-icon:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #000;
    position: absolute;
    right: 21px;
    z-index: 999;
    top: 24px;
}

.ng-autocomplete-dropdown-icon.open:after {
    transform: rotate(180deg);
}
/*RGK 404 Styling*/
.wrapper_404 {
    padding: 82px 0 143px;
    margin: 0;
}

.wrapper_404  .text-center {
    text-align: center;
}
.wrapper_404 h1 {
    margin-bottom: 42px;
    line-height: 162px;
    font-size: 200px;
}
.wrapper_404  .color {
    color: #08c1f3 !important;
}
.wrapper_404 h2 {
    color: #222629;
    margin-bottom: 16px;
    line-height: 50px;
    font-size: 46px;
}

.wrapper_404 p {
    margin: 0 0 10px 0;
    padding: 0;
    margin-bottom: 54px;
}
