@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.modal-header{
    padding: 0px;
    text-align: center;
}


.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .modal-footer {
    padding: 15px 0px 0px 0px  !important;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.mat-dialog-container{
    padding:15px  !important;
}

h2 { font-size: 22px !important;}