<div class="box-holder">

    <div class="modal-header">
     
      <h2 class="modal-title">{{title}}</h2>
    </div>
    <div class="modal-body">
      <p>{{message}}</p>
    </div>
    <div class="modal-footer">
    <div class="button-row">
   
        <button mat-button class="btn btn-danger" (click)="dialogRef.close(true)">{{btnOkText}}</button>
        <button mat-button class="btn btn-default" (click)="dialogRef.close(false)">{{btnCancelText}}</button>
  
      </div>
    </div>

</div>

