<section class="main-log">
    <div class="login-sec">
      
        <a href="#"><img src="/assets/images/characterly-logo.svg" alt="Characterly" /></a>
        <div *ngIf="error" class="alert alert-danger alert-dangerb text-center" role="alert">
          {{error}}    
        </div>
        <div *ngIf="message" class="alert alert-success alert-successb text-center" role="alert">
          {{message}}          
        </div>
    <div class="form-bg">
        <a href="#" class="top-link" data-toggle="modal" data-target=".bs-example-modal-sm"><span class="glyphicon glyphicon-info-sign"></span></a>
          <h2><span>Login to your account</span> You must have a passcode to login to a branch account.</h2> 
           <form [formGroup]="registrationForm" novalidate  (ngSubmit)="save()">
             <!-- We'll add our form controls here -->
             <div class="form-group">
               <label>Name</label>
               <input type="text" formControlName="Name" [ngClass]="{'error':registrationForm.controls.Name.invalid && formSubmitAttempt}" class="form-control" placeholder="Name"/>
             </div>
             <div class="form-group">
               <label>Surname</label>
               <input type="text" [ngClass]="{'error':!registrationForm.controls.Surname.valid && formSubmitAttempt}" formControlName="Surname" class="form-control" placeholder="Sur Name"/>
              
             </div>
             <div class="form-group">
               <label>User Name</label>
               <input type="text" formControlName="UserName" [ngClass]="{'error': !registrationForm.controls.UserName.valid && formSubmitAttempt}" class="form-control" placeholder="User Name"/>
             </div>
             <div class="form-group">
               <label>Email</label>
               <input type="text" formControlName="EmailAddress" [ngClass]="{'error': !registrationForm.controls.EmailAddress.valid && formSubmitAttempt}" class="form-control" placeholder="User Email"/>
             </div>
             <div class="form-group">
               <label>Password</label>
               <input type="password" formControlName="Password" [ngClass]="{'error':!registrationForm.controls.Password.valid && formSubmitAttempt}" class="form-control" placeholder="Password"/>
             </div>

             <div class="form-group">
              <label for="retypepassword">Retype password</label>
              <input type="password" formControlName="confirmPass" placeholder="Retype Password" class="form-control" name="retypepassword"
                id="retypepassword" [ngClass]="{ 'error': !registrationForm.controls.confirmPass.valid && formSubmitAttempt }"
              />
              <!-- <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div> -->
              <div class="alert alert-danger" *ngIf="registrationForm.errors || registrationForm.controls.confirmPass.value != registrationForm.controls.Password.value">

                Password do not match

              </div>
            </div>

             <button [disabled]="loading" type="submit" class="btn-primary">Submit</button>
 
           </form>
      </div>
      <div class="spacer15"></div>
        <a routerLink="/recovercode" class="btn-link" >Get new code</a>
       
      
    </div>
    <div class="footer">  
      © Character.ly 2016. All rights reserved.
    </div>	
</section>
<!--Login home logo-->
