<div *ngIf="roleList!=null && AllBranchesOnly!=null ">
	<div *ngIf="onEdit()"></div>
</div>
<div>
	<form novalidate class="content-wrapper board-overview" (ngSubmit)="CreateUser(f, f.value);" #f="ngForm">
		<div class="board-overview-column-1">
			<!-- Title-->
			<div class="cd-page-header">
				<h3 *ngIf="isEdit==false">Add User</h3>
				<h3 *ngIf="isEdit==true">Edit User</h3>
			</div>

			<div class="board-cards">
					<div *ngIf="successMessage" class="row-fluid clearfix alert alert-success margin-bottom-20">
						<strong>Success!</strong> {{successMessage}}
						</div>
						<div *ngIf="error" class="row-fluid clearfix alert alert-danger margin-bottom-20">
						<strong>Error!</strong> {{error}}.
					</div>
				<div class="spacer15"></div>

				<div class="profile">
					<div class="profile-title">
						<h6>Profile Image</h6>
						<input type="file" (change)="onImageFileSelected($event)" placeholder="Upload Profile Image" accept=".png,.jpeg,.jpg">
					</div>
				<div class="profile-pic">
						<img class="profile-img" [src]="profilePicPath" alt="">				
				</div>
			</div>

				<div class="form-group">
					<label>User Role</label>
					<div class="form-group">
							<!-- [selected]="userRole[i]==role.id.split(': ')[1]?true:false" -->
						<select ngModel multiple class="form-control" name="userRole1" #userRole1="ngModel" [(ngModel)]="userRole" required>
							<option *ngFor="let role of roleList; let i =index" [ngValue]="role.id" checked="true" [class.checked]="isRoleSelected(role)">
								{{role.Name}}
							</option>
						</select>
						<!-- <select multiple class="form-control" name="userRole1" [(ngModel)]="SelectedRoles">
								<option *ngFor="let role of roleList" [ngValue]="role">
										 {{ role.Name }}
								</option>
					</select>  -->
						<div *ngIf="userRole1.invalid && (userRole1.dirty || userRole1.touched) || (userRole1.invalid && submitted)"
						class="alert alert-danger">
						<div *ngIf="userRole1.errors.required">
						  User Role is required.
						</div>
					  </div>
					</div>
				</div>

			 <div class="form-group">
					<label>Branch</label>
					<div class="dropdown">
						<select name="branch"  #branch="ngModel" class="dropdown-select" [(ngModel)]="branchId" required>
							<option *ngFor="let branch of AllBranchesOnly" [value]="branch.id">
								{{branch.name}}
							</option>
						</select>
					</div>
					<div *ngIf="branch.invalid && (branch.dirty || branch.touched) || (branch.invalid && submitted)"
					class="alert alert-danger">
					<div *ngIf="branch.errors.required">
						Branch is required.
					</div>
					</div>
				</div>

				<hr>

				<!--Name-->
				<div class="form-group" [ngClass]="{ 'has-error': f.submitted}">
					<label for="username">Username</label>
					<input type="text" class="wide form-control" name="uname" #uname="ngModel" [(ngModel)]="username" maxlength="60" required/>
					<div *ngIf="uname.invalid && (uname.dirty || uname.touched) || (uname.invalid && submitted)"
					class="alert alert-danger">
					<div *ngIf="uname.errors.required">
					  Username is required.
					</div>
					<div *ngIf="uname.errors.maxlength">
					  Max of 60 characters
					</div>
				  </div>
				</div>
				<div *ngIf="!isEdit" class="form-group">
					<label>Password</label>
					<input type="password"  [(ngModel)]="password" name="upassword" #upassword="ngModel"  class="form-control" placeholder="Password" required/>
					<div *ngIf="upassword && upassword.invalid && (upassword.dirty || upassword.touched) || (upassword.invalid && submitted)"
					class="alert alert-danger">
					<div *ngIf="upassword.errors.required">
					  Password is required.
					</div>				
				  </div>
				</div>
				<div *ngIf="!isEdit" class="form-group">
					<label>Retype Password</label>
					<input type="password"  [(ngModel)]="rePassword" name="urepassword" #urepassword="ngModel"   class="form-control" placeholder="Retype Password" required/>
					<div *ngIf="urepassword && urepassword.invalid && (urepassword.dirty || urepassword.touched) || (urepassword.invalid && submitted)"
					class="alert alert-danger">
					<div *ngIf="urepassword.errors.required">
					  Retype Password is required.
					</div>									
					</div>
					<div *ngIf="upassword && upassword.value != urepassword.value" class="alert alert-danger">
							Password not matched
					</div>
				</div>

				<hr>

				<!--Name-->
				<div class="form-group" [ngClass]="{ 'has-error': f.submitted}">
					<label for="fname">First Name</label>
					<input type="text" class="wide form-control" name="fname" #fname="ngModel" [(ngModel)]="firstname" required/>

					<div *ngIf="fname.invalid && (fname.dirty || fname.touched) || (fname.invalid && submitted)"
					class="alert alert-danger">
					<div *ngIf="fname.errors.required">
					  First Name is required.
					</div>
					<div *ngIf="fname.errors.maxlength">
					  Max of 60 characters
					</div>
				  </div>
				</div>
				<div class="spacer15"></div>

				<!--Last Name-->
				<div class="form-group" [ngClass]="{ 'has-error': f.submitted}">
					<label for="lastname">Last Name</label>
					<input type="text" class="wide form-control" name="lname" #lname="ngModel" [(ngModel)]="lastname" required/>

					<div *ngIf="lname.invalid && (lname.dirty || lname.touched) || (lname.invalid && submitted)"
					class="alert alert-danger">
					<div *ngIf="lname.errors.required">
					  Last Name is required.
					</div>
					<div *ngIf="lname.errors.maxlength">
					  Max of 60 characters
					</div>
				  </div>
				</div>

				<hr>

				<div class="form-group">
					<label>Gender</label>
					<div class="dropdown">
						<select name="selectGender"  #selectGender="ngModel" class="dropdown-select" [(ngModel)]="gender" required>
							<option [value]="0">Male</option>
							<option [value]="1">Female</option>
						</select>
					</div>
					<div *ngIf="selectGender.invalid && (selectGender.dirty || selectGender.touched) || (selectGender.invalid && submitted)"
					class="alert alert-danger">
					<div *ngIf="selectGender.errors.required">
						Gender is required.
					</div>
					</div>
				</div>

				<!--Email-->
				<div class="form-group">
					<label for="email">Email Address</label>
					<input type="email" class="wide form-control" name="emailAddress" #emailAddress="ngModel" [(ngModel)]="email" required/>

					<div *ngIf="emailAddress.invalid && (emailAddress.dirty || emailAddress.touched) || (emailAddress.invalid && submitted)"
					class="alert alert-danger">
					<div *ngIf="emailAddress.errors.required">
					  Email is required.
					</div>
					<div *ngIf="emailAddress.errors.invalid">
					  Please enter a valid email address
					</div>
				  </div>
				</div>

				<div class="form-group">
					<label for="startDate">Birth Date</label>

					<input [ngModel]="birthdate | date:'yyyy-MM-dd'" (ngModelChange)="birthdate = $event" type="date" name="bDate" #startDate="ngModel"
						class="form-control" id="bDate" required>
					
			

					<!-- <div *ngIf="bDate.invalid  && (bDate.dirty || bDate.touched)  || (bDate.invalid && submitted)"
						class="alert alert-danger">
						<div *ngIf="bDate.errors.required">
							Birth Date is required.
						</div>
					</div> -->

					</div> 
				<!--Gender-->
				<!--<hr>
				 <div class="form-group">
					<label>Gender</label>

					<label for="male" class="form-check-label-sidebar"><input id="male" type="radio" name="gender" /> Male</label>

					<label for="female" class="form-check-label-sidebar"><input id="female" type="radio"  name="gender" /> Female</label>

					<label for="other" class="form-check-label-sidebar"><input id="other" type="radio"  name="gender" /> Other</label>
				</div>
				<div class="spacer15"></div> -->

				<!--Year of Birth-->
				<!-- <div class="form-group">
					<label>Birth date</label>
					<input class="wide form-control" id="birth-date" tabindex="2" type="tel" name="date" placeholder="mm / dd / yyyy" />
				</div> -->
			</div>

			<!-- <div class="board-cards">
				<h6>User Relation</h6>
				<hr>

				<div class="form-group">
					<label>State</label>
					<input class="wide form-control" />
				</div>

				<div class="spacer15"></div>

				<div class="form-group">
					<label>Branch Name</label>
					<input class="wide form-control" />
				</div>

				<div class="spacer15"></div>
				<div class="form-group">
					<label>School Name</label>
					<input class="wide form-control" />
				</div>

				<div class="spacer15"></div>

				<label>Grade level</label>
				<div class="dropdown">
					<select name="" class="dropdown-select">
						<option value="">All</option>
						<option value="">K-2</option>
						<option value="">4-5</option>
						<option value="">6-8</option>
						<option value="">9-12</option>
						<option value="">College</option>
					</select>
				</div>

				<div class="spacer15"></div>

				<label>Educator Type</label>
				<div class="dropdown">
					<select name="" class="dropdown-select">
						<option value="">Teacher</option>
						<option value="">Coach</option>
						<option value="">Assistant</option>
						<option value="">Director</option>
						<option value="">Librarian</option>
						<option value="">Other</option>
					</select>
				</div>
			</div> -->
		</div>
		<!-- .board-overview-split -->

		<div class="board-overview-column-2 cd-tool-side-bar">
			<div class="board-cards">
				<h4>Toolbar</h4>
				<div class="spacer15"></div>
				<div class="button_wrapper">
					<button *ngIf="isEdit == true" type="submit" class="btn-secundary block">Save changes</button>
					<div class="spacer15"></div>
					<button *ngIf="isEdit == false" type="submit" class="btn-primary block">Add User</button>
					<!-- <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="> -->
				</div>

				<hr>

				<!-- <h6>Mange Password</h6> -->

				<div class="spacer10"></div>

				<!-- <div class="form-group">


					<button class="btn-quaternary sm-btn" [disabled]="!f.valid">Change</button>

					<div class="spacer15"></div>
					<p class="danger">{{error}}</p>
				</div> -->
			</div>
		</div>
	</form>
</div>